Flask==1.1.1
Flask-Admin==1.4.1
Flask-Cache==0.13.1
Flask-Login==0.2.11
Flask-S3==0.3.3
flask-swagger==0.2.13
Flask-WTF==0.14
gunicorn==19.8.1
Jinja2==2.10.3
jmespath==0.9.3
lockfile==0.12.2
lxml==3.8.0
Markdown==2.6.11
MarkupSafe==1.1.1
requests==2.18.4
rsa==3.4.2
setproctitle==1.1.10
six==1.11.0
smmap2==2.0.3
tabulate==0.7.7
thrift==0.11.0
Unidecode==1.0.22
urllib3==1.22
Werkzeug==0.16.0
WTForms==2.1
zope.deprecation==4.3.0
