{% extends 'base.html' %}

{% block content %}
    <article>
        <h1>{% block title %}Artists{% endblock %}</h1>
        <p>
        <b>Carole Alden</b> is an outsider visual artist. Her work draws inspiration from her surroundings. She strives to uplift and expand perceptions by repurposing ordinary materials for extraordinary projects. Learn more about Carole and her work <a href="https://heritageandarts.utah.gov/meet-the-utah-artist-who-is-crocheting-her-way-to-a-new-life/">here</a>.
        </p><p>
        <b>Christine “CFreedom” Brown</b> is a New Orleans visual and performing artist on a mission of bringing back positive images, music, and happenings to the Black community. Connected to photography in 2007 by Carol Bebelle, Douglas Redd, and Ashé Cultural Arts Center, CFreedom became a freelance contributor to Essence Magazine in 2009. Soon after, she founded The Essence of N.O.W., a photography party that celebrates, features, and archives New Orleans women. Visit <a href="https://cfreedomphotography.zenfolio.com/?fbclid=IwAR344X-OKiy2g_01GSbZCRChNwhHsaCq43DKNIHNQA4F-wQ-cV5mYCULxBU">cfreedomphotography.com</a> and <a href="https://www.instagram.com/cfreedomphotography/">@cfreedomphotography</a> to learn more.
        </p><p>
        <b>Maggie Hermann</b> is an audio/visual documentarian and evaluator, committed to amplifying the truths and narratives of human relationships to the social and physical environments. She listens, learns, and contributes to actionable change by capturing the rich details of the individual and collective human experience with camera, microphone, and pen. 
        </p><p>
        <b>Anne Nelson</b> is a painter and Professor of Practice in painting and drawing at Tulane University. Originally from Minnesota, Anne has been living and working in Louisiana for the last nine years. She is a founding member at Staple Goods Gallery and Collective. Nelson’s work is usually rooted in abstraction, a painterly language rich with the possibility of evoking emotion, disorientation, and remembrance. Her work can be viewed at <a href="http://www.postmedium.com/annecnelson">www.postmedium.com/annecnelson</a>.
        </p>
    </article>
{% endblock %}

