<!doctype html>
<head>
  {% block head %}
      <title>{% block title %}{% endblock %} - Issue #2 | Mixed Media </title>
      {% block metadata_name %}{% endblock %}
      {% block metadata_property %}{% endblock %}
      {% include "includes/components/head-tag.html" %}
  {% endblock %}
</head>
<body>
  {% include "includes/components/nav.html" %}
  <div id="app">
    <div class="base-wrapper">
      <div class="row">
        {% block content %}{% endblock %}
      </div>
    </div>
  </div>
  {% include "includes/components/simple-footer.html" %}
</body>

{% include "includes/components/script.html" %}