<!doctype html>
<head>
  {% block head %}
      <title>{% block title %}{% endblock %} - Issue #2 | Mixed Media </title>
      {% include "includes/components/head-tag.html" %}
      <script src="https://cdn.mxd.media/vue.min.js"></script>
  {% endblock %}
</head>
<body>
  {% include 'includes/components/nav.html' %}
  <div id="app">
    <div class="gallery-wrapper">
    	{% if series == "behind-the-scenes" %}
    	  {% include 'includes/galleries/behind-the-scenes.html' %}
    	{% elif series == 'water-series' %}
    	  {% include 'includes/galleries/water-series.html' %}
    	{% endif %}

      <hr>
      {% include "includes/components/essay-nav.html" %}
    </div>
  </div>
  {% include 'includes/components/simple-footer.html' %}
</body>

{% include "includes/components/script.html" %}