<!doctype html>
<head>
  {% block head %}
      <title>{% block title %}{% endblock %} - Issue #2 | Mixed Media </title>
      {% include "includes/components/head-tag.html" %}
  {% endblock %}
</head>
<body>
  {% include "includes/components/nav.html" %}
  <div id="app">
      <div class="intro-tiles">
        <div class="row">
            <h1>
              Mixed Media: Water Systems
            </h1>
            <article>
              <blockquote>
                “You get to look at the flood map to see if you’re in the flood zone. Wouldn’t you like to see how you’re protected?” 
                <br><br>
                <span>--Relief Operator Larry Boudreaux</span>
              </blockquote>
            </article>

            <article>
                    <p>
                    New Orleans has experienced significant flooding throughout its history. The city’s drainage pump stations are invariably at the center of public debate on why residents are experiencing flooding, and what solutions might exist for reducing the impact of rain and tropical storms on our low-lying, bowl-like landscape. This debate — with many planners, engineers, policy-makers, and community leaders now arguing for reducing our reliance on pumping — is vital to the future of the region. 
                    </p>
                    <p>

                    This summer and fall, the Blue House / Civic Studio visited five different pump stations with photographers Christine “CFreedom” Brown and Maggie Hermann. We spoke with a dozen pump station operators and documented their daily routines, including what happens when it rains. We sought to understand what it takes to move water through and out of our city, and the kinds of labor and knowledge that are necessary to operate the pumps. We explored, too, the limits of the mechanical drainage system that we’ve put in place over the past century. 
                    </p>
                    <p>
                    With this project, we seek to foster more robust public dialogue on water management and “living with water” in New Orleans. CFreedom’s and Maggie Hermann’s documentary art photography supports deeper understanding of the people, machines, and processes of the existing drainage system. On Sunday, December 22, 2019, excerpts of this work run as a special print feature called “A Visit to the Pump Station” in the New Orleans Advocate/Times- Picayune.  
                    </p>

                    <p>
                    We couple these images and stories with Anne Nelson’s Water Series paintings. Developed after a multi-week engagement with the Water Leaders Institute and neighborhood leaders to learn about water infrastructure and governance, these paintings explore the past, present, and future of soil, water, and human interactions in the delta. Learn more about this body of work through this interview with Anne, conducted by Doug MacCash.
                    </p>
                    <p>
                    As part of Water Systems, Carole Alden led a series of public workshops to design and build a floating water creature made of salvaged materials and inspired by the delta environment, weather, and waterways of New Orleans. We launched this 30’ floating, blinking sculpture on New Orleans’s Bayou St. John on August 4, and watched as it drew neighbors, passing motorists, and families out to the waterway that is central to the founding of the city. Learn more about Carole Alden in the Fall 2019 Issue of MUSE.     
                    </p>
              <p>
              Along the way, we have hosted a series of public events, providing opportunities for learning, dialogue, and co-creation on the themes of Water Systems. 
              </p>
              <p>
                <ul>
                  <li>
                    <b>“Water Series” Exhibition Opening and Public Dialogue</b> 
                    <span>with Anne Nelson</span>
                  </li>
                  <li>
                    <b>
                  Coffee and Conversation on Groundwater, Soils, and Fungus
                    </b>
                    <span>with Stephanie Gross and Roelof Stuurman</span>
                  </li>
                  <li>
                    <b>Coffee and Conversation on Mosquitoes and Water Management</b>
                    <span>with Sarah Michaels</span>
                  </li>
                  <li>  
                    <b>Water Rube Goldberg Day</b>  
                    <span>with the Green Project</span>
                  </li>
                  <li>
                    <b>
                  Coffee and Conversation on Making and Selling Art</b> 
                  <span>with Cy Henry and Carole Alden</span>
                  </li>
                  <li>
                    <b>Coffee and Conversation on the Afterlife of FEMA Trailers</b><span> with Nick Shapiro</span>
                  </li>
                  <li>
                    <b>
                  Coffee and Conversation on Policy and Effective Interventions
                  </b><span>with Tess Lea</span>
                  </li>
                  <li>
                    <b>
                  Screening and Discussion of the Multi-platform Documentary, The Mississippi</b>
                  <span>with Keely Kernan</span>
                  </li>
                  <li>
                    <b>
                  Poetry Reading and Discussion
                  </b><span>with Kalamu Ya Salaam</span> 
                  </li>
                  <li>
                    <b>
                  Coffee and Conversation on the Urban Water Plan</b><span>with David Waggonner
                  </span> 
                  </li>
                  <li>
                    <b>
                  Coffee and Conversation on Sustainable Water Management in Gentilly </b>
                  <span>with Daan Rooze</span>
                  </li>
<!--                   <li>
                    <b>
                  “Moving Water” Exhibition Opening</b> <span> with CFreedom, Maggie Hermann, Sewerage & Water Board Pump Station Operators, and new music by Sly Watts
                  </li> -->
                </ul>
              </p>
                    <p>
                      This feature is a part of MIXED MEDIA, a multidisciplinary initiative by the Blue House / Civic Studio that supports civic dialog on critical issues through art, research, and storytelling. Visit issue1.mxd.media for MIXED MEDIA: INCARCERATION.
                    </p>
            </article>
        </div>
      </div>
    {% for rows in home_page_essays %}
      <div class="home-row">
        <div class="row">
          {% for item in rows.row %}
            <a 
              href="{{ item.link }}" 
              class="series-titles" 
              style="background-image:url({{item.background_image}});flex:{{item.flex_val}}"
            >
              <h1>{{item.title}}</h1>
              <p>{{item.description}}</p>
            </a>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
  {% include "includes/components/footer.html" %}
</body>