{% extends 'base.html' %}
{% block metadata_name %}
    {% for key, item in metadata_name.items() %}
        <meta name="{{ key }}" content="{{ item }}" />
    {% endfor %}
{% endblock %}
{% block metadata_property %}
    {% for key, item in metadata_property.items() %}
        <meta property="{{ key }}" content="{{ item }}" />
    {% endfor %}
{% endblock %}
{% block content %}
    <article>
        <h1>
            People
        </h1>
        <p>
            Mixed Media: Water Systems brought together artists, researchers, planners, scientists, journalists, facilitators, curators, Sewerage & Water Board staff, and resident leaders to produce civically-oriented artwork, media content, and public events.
        </p>
        <h3>{% block title %}Artists{% endblock %}</h3>
        <p>
            <b>Carole Alden</b> is an outsider visual artist. Her work draws inspiration from her surroundings. She strives to uplift and expand perceptions by repurposing ordinary materials for extraordinary projects. Learn more about Carole and her work <a target="_blank" href="https://heritageandarts.utah.gov/meet-the-utah-artist-who-is-crocheting-her-way-to-a-new-life/">here</a>.
        </p>
        <p>
            <b>Christine “CFreedom” Brown</b> is a New Orleans visual and performing artist on a mission of bringing back positive images, music, and happenings to the Black community. Connected to photography in 2007 by Carol Bebelle, Douglas Redd, and Ashé Cultural Arts Center, CFreedom became a freelance contributor to Essence Magazine in 2009. Soon after, she founded The Essence of N.O.W., a photography party that celebrates, features, and archives New Orleans women. Visit <a target="_blank" href="https://cfreedomphotography.zenfolio.com/?fbclid=IwAR344X-OKiy2g_01GSbZCRChNwhHsaCq43DKNIHNQA4F-wQ-cV5mYCULxBU">cfreedomphotography.com</a> and <a target="_blank" href="https://www.instagram.com/cfreedomphotography/">@cfreedomphotography</a> to learn more.
        </p>
        <p>
            <b>Maggie Hermann</b> is an audio/visual documentarian and researcher, committed to amplifying narratives of human relationships to the social and physical environments in which they exist. She recently worked with Central City Renaissance Alliance to implement and document community engagement and experiential learning programs across issues like water, health, transit, and economic opportunity. Maggie currently works with the Children & Youth Planning Board, co-creating positive youth narratives in New Orleans.
        </p>
        <p>
            <b>Anne Nelson</b> is a painter and Professor of Practice in painting and drawing at Tulane University. Originally from Minnesota, Anne has been living and working in Louisiana for the last nine years. She is a founding member at Staple Goods Gallery and Collective. Nelson’s work is usually rooted in abstraction, a painterly language rich with the possibility of evoking emotion, disorientation, and remembrance. Her work can be viewed at <a target="_blank" href="http://www.postmedium.com/annecnelson">www.postmedium.com/annecnelson</a>.
        </p>
    </article>
    <hr>
    <article>
        <h3>
            Mixed Media Team
        </h3>
        <p>
            The Mixed Media team is comprised of individuals passionate about civic issues, creative practices, and community engagement. Together, they use their skills in research, design, documentation, curation, writing, and web development to further collective learning and civic around critical issues that affect New Orleans. The team members are:
        </p>
        <p>
            Aron Chang
            <br>
            Liam Grealy
            <br>
            Maggie Hermann
            <br>
            Bridgette Ortiz
            <br>
            Eriks Reks
            <br>
            Alex Stokes
            <br>
            Lilith Winkler-Schor
            <br><br>
            --
            <br>
            <a href="https://thebluehousenola.com/">https://thebluehousenola.com</a>
        </p>
    </article>
    <hr>
    <article>
        <h3>
            Partners
        </h3>
        <br>
        <h4>
            New Orleans Advocate/Times Picayune
        </h4>
        <p>
           Our local daily inspired the multi-platform nature of this project, and the desire to bring new voices and new forms of storytelling into mainstream media. We’re grateful to the Advocate for connecting their wide regional audience to critical civic issues through Mixed Media print features and artist interviews. (<a href="https://www.nola.com/">https://www.nola.com</a>)
        </p>

        <h4>
            Water Leaders Institute
        </h4>
        <p>
           WLI envisions communities driving climate adaptation alongside technical experts and policymakers. Water Leaders was instrumental in the conceptualization and development of Mixed Media: Water Systems, and contributed critical resources and thought leadership in every phase of the project. (<a href="https://www.waterleadersinstitute.com/">https://www.waterleadersinstitute.com</a>)
        </p>

        <h4>
            Central City Renaissance Alliance
        </h4>
        <p>
           CCRA and Executive Director Tanya James supported the Mixed Media team in the framing of the project, particularly in regards to understanding the ways in which documentary photography can help shape public perception and understanding of infrastructural systems, public policy, and community resilience. (<a href="https://myccra.org/?fbclid=IwAR21jHOEEc8P9_UPJ8eQz9PiT9R34oQl8gVKf6vybGUEr5oCuBdqnPg1oqM">https://myccra.org</a>)
        </p>

        <h4>
            Mixed Media Dinner Participants
        </h4>
        <p>
           Joseph Becker, Engineer
           <br>
           Amanda Coleman, Architectural Historian
           <br>
           Anjelina Durio, Community Engagement Assistant
           <br>
           Chasity Hunter, Poet and Student at UNO
           <br>
           Eric Labat, Operations Director at SWBNO
           <br>
           Chuck Morse,  Executive Director at Launch NOLA
           <br>
           Cyndhia Ramatchandirane, Research Scientist at The Water Institute of the Gulf
           <br>
           Gordon Russell, Investigations Editor at the New Orleans Advocate/Times Picayune
           <br>
           Andrew Sternad, Architect at Waggonner & Ball
        </p>

        <h4>
            Sewerage & Water Board of New Orleans
        </h4>
        <p>
            We thank Executive Director Ghassan Korban, Communications Director Richard Rainey, General Superintendent Bob Turner, and Drainage & Sewerage Superintendent Gerald Tilton for providing access to the drainage pump stations and the opportunity to speak with pump station operators. We’re grateful to each of the pump station operators we observed and spoke with in the summer and fall of 2019.
        </p>
        <p>
           Conard “CJ” James, Drainage Supervisor
           <br>
           Kenneth McGuire, Supervisor Assistant
           <br>
           Larry Boudreaux, Relief Operator
           <br>
           Lionel Jupiter, Relief Operator
           <br>
           Dominique Coleman, Pump Station Operator
           <br>
           Renaldo Green, Pump Station Operator
           <br>
           James Taylor, Pump Station Operator
           <br>
           Sterling Young, Pump Station Operator
           <br>
           Robert Barrow, Utility Plant Worker
           <br>
           D’juan Boudreaux, Utility Plant Worker
           <br>
           Louis Johnston, Utility Plant Worker
           <br>
           Jonathan Foster, Utility Plant Worker
        </p>
    </article>
    <hr>
    <article>
        <h3>Project Support</h3>
        <br>
        <div class="partners-block">
            <a href="https://platformsfund.org/home/">
                <img src="{{ config.CDN_URL }}partners/platforms.png">
            </a>
            <a href="https://pen.org/">
                <img src="{{ config.CDN_URL }}partners/penbox.png">
            </a>
            <a href="https://bywater.tulane.edu/">
                <img src="{{ config.CDN_URL }}partners/tulane-by.png">
            </a>
            <a href="https://www.thegreenproject.org/">
                <img src="{{ config.CDN_URL }}partners/green-project.png">
            </a>
            <a href="http://www.batture-eng.com/">
                <img src="{{ config.CDN_URL }}partners/batture.jpg">
            </a>
            <a href="http://www.greenpoint-e.com/home.html">
                <img src="{{ config.CDN_URL }}partners/gp.png">
            </a>
            <a href="http://www.asakurarobinson.net/">
                <img src="{{ config.CDN_URL }}partners/asakura.png">
            </a>
            <a href="http://spackmanmossopmichaels.com/">
                <img src="{{ config.CDN_URL }}partners/spackman.png">
            </a>
            <a href="https://www.danabrownassociates.com/">
                <img src="{{ config.CDN_URL }}partners/dba.png">
            </a>
            <a href="https://wbae.com/">
                <img src="{{ config.CDN_URL }}partners/waggoner.jpg">
            </a>
        </div>
    </article>
{% endblock %}