{% extends 'base.html' %}
{% block metadata_name %}
	{% for key, item in metadata_name.items() %}
		<meta name="{{ key }}" content="{{ item }}" />
	{% endfor %}
{% endblock %}
{% block metadata_property %}
	{% for key, item in metadata_property.items() %}
		<meta property="{{ key }}" content="{{ item }}" />
	{% endfor %}
{% endblock %}

{% block content %}
	<div class="intro-tiles">
		<div class="row">
			<h1>
			Mixed Media: Water Systems
			</h1>
			<article>
				<p>
					New Orleans has experienced significant flooding throughout its history. The city’s drainage pump stations are invariably at the center of public debate on why residents are experiencing flooding, and what solutions might exist for reducing the impact of rain and tropical storms on our low-lying, bowl-like landscape. This debate — with many planners, engineers, policy-makers, and community leaders now arguing for reducing our reliance on pumping — is vital to the future of the region. This project seeks to engage more residents in this conversation, using art as a tool to foster more robust public dialogue on water management and “living with water” in New Orleans. Over the course of 2019, this project has engaged four artists to produce unique bodies of work which explore different facets of the water system.
				</p>
				<h3>A Visit to the Pump Station</h3>
				<p>
					This summer and fall, the <a target="_blank" href="https://thebluehousenola.com/">Blue House / Civic Studio</a> visited five different pump stations with photographers <b>Christine “CFreedom” Brown</b> and <b>Maggie Hermann</b>. We spoke with a dozen pump station operators and documented their daily routines, including what happens when it rains. We sought to understand what it takes to move water through and out of our city, and the kinds of labor and knowledge that are necessary to operate the pumps. We explored, too, the limits of the mechanical drainage system that we’ve put in place over the past century. 
				</p>
				<h3>Learning with Water Leaders</h3>
				<p>
					Through a multi-week engagement with the <a target="_blank" href="https://www.waterleadersinstitute.com/">Water Leaders Institute</a>, painter <b>Anne Nelson’s</b> developed her Water Series paintings.  Learning alongside neighborhood leaders, she examined water infrastructure and governance, producing paintings that explore the past, present, and future of soil, water, and human interactions in the delta. Learn more about this body of work in this <a target="_blank" href="https://www.nola.com/entertainment_life/arts/article_feaad90a-0d79-11ea-be14-ff7e8a5a97eb.html">interview with Anne</a>, conducted by the Advocate’s Doug MacCash.
				</p>
				<h3>Water Creature Workshop</h3> 
				<p>
					As part of Water Systems, sculptor <b>Carole Alden</b> led a series of public workshops to design and build a floating water creature made of salvaged materials and inspired by the delta environment, weather, and waterways of New Orleans. We launched this 30’ floating, blinking sculpture on New Orleans’s Bayou St. John on August 4, and watched as it drew neighbors, passing motorists, and families out to the waterway that is central to the founding of the city. Learn more about Carole Alden in the <a target="_blank" href="https://heritageandarts.utah.gov/meet-the-utah-artist-who-is-crocheting-her-way-to-a-new-life/">Fall 2019 Issue of MUSE</a>.     
				</p>
				<p>
					Along the way, we have hosted a series of public events, providing opportunities for learning, dialogue, and creative exploration on the themes of Water Systems. 
				</p>
			</article>
		</div>
		<hr>
		<div class="row">
			<article class="events-article">
				<div>
					<h1>Coffee and Conversation Series</h1>
					<ul id="events-1">
						<li>
							Mosquitoes and Water Management with Sarah Michaels 
						</li>
						<li>
							Groundwater, Soils, and Fungus with Stephanie Gross and Roelof Stuurman
						</li>
						<li>
							Making and Selling Art with Cy Henry and Carole Alden
						</li>
						<li>
							Afterlife of FEMA Trailers with Nick Shapiro
						</li>
						<li>
							Policy and Effective Interventions with Tess Lea
						</li>
						<li>
							Urban Water Plan with David Waggonner
						</li>
						<li>
							Sustainable Water Management in Gentilly with Daan Rooze
						</li>
					</ul>
				</div>
				<div>
					<h1>Exhibition Openings and Dialogue</h1>
					<ul id="events-2">
						<li>
							“Water Series” with Artist Anne Nelson with Water Leaders Institute
						</li>
						<li>
							“Moving Water” with Artists CFreedom, Maggie Hermann, and Anne Nelson, with Sewerage & Water Board Pump Station Operators, and new music by Sly Watts
						</li>
					</ul>
					<h1>Creative Workshops</h1>
					<ul id="events-3">
						<li>
							Water Creature Workshop with Carole Alden
						</li>
						<li>
							Water Rube Goldberg Day with the Green Project
						</li>
						<li>
							Documentary Screening and Discussion of The Mississippi with Keely Kernan
						</li>
						<li>
							Poetry Reading and Discussion with Kalamu Ya Salaam
						</li>
					</ul>
				</div>
			</article>
		</div>
		<hr>
		<div class="row">
			<article>
				<h3>Purchase Artwork</h3>
				<p>
					The photographs and paintings by CFreedom, Maggie Hermann, and Anne Nelson are available for purchase. 60% of proceeds go directly to the artists, and the remaining 40% will go towards the costs of the exhibit and towards the <a target="_blank" href="https://www.waterleadersinstitute.com/">Water Leaders Institute</a>, which brings together community leaders, technical experts, and policy makers to build shared knowledge and facilitate inclusive planning practices. 
				</p>
				<p>
					Please contact <a target="_blank" href="mailto:aron@thebluehousenola.com">aron@thebluehousenola.com</a> for pricing information and details.
				</p>
				
				<a target="_blank" href="mailto:aron@thebluehousenola.com" class="btn">
					<button>Inquire about pricing</button>
				</a>
			</article>
		</div>
	</div>
{% endblock %}