{% extends 'base.html' %}

{% block content %}
	<div class="intro-tiles">
	  <div class="row">
	    <h1>
	    Purchase Artwork
	    </h1>
	    <article>
	      <p>
	      	The photographs and paintings by CFreedom, Maggie Hermann, and Anne Nelson are available for purchase. 60% of proceeds go directly to the artists, and the remaining 40% will go towards the costs of the exhibit and towards the <a href="https://www.waterleadersinstitute.com/">Water Leaders Institute</a>, which brings together community leaders, technical experts, and policy makers to build shared knowledge and facilitate inclusive planning practices. 
	      </p>
	      <p>
	      	Please contact <a href="mailto:aron@thebluehousenola.com">aron@thebluehousenola.com</a> for pricing information and details.
	      </p>
	      </article>
	    </div>
	  </div>
	
{% endblock %}