<h1>{{title}}</h1>
<article>
  <figure>
    <img src="https://cdn.mxd.media/challenges/0a.jpg"/>
    <img src="https://cdn.mxd.media/challenges/0b.jpg"/>
    <figcaption>
      The water that falls from the sky picks up the dirt, trash, and pollutants that are in our streets, parking lots, and yards. From dog poop to styrofoam cups, everything small enough to fit into a storm drain makes its way to the city’s pump stations. Where there are open canals, larger items like shopping carts and mattresses are common too. Trash screens and rakes remove larger items, but everything else goes through the pump and out into Lake Pontchartrain.  
      <br><br>
      Trash swirling amidst stormwater is a constant reminder of the ways in which our lives impact the ecosystems around us. Katrina floodlines, below, are reminders of the times when events have far exceeded the capacity of the city’s drainage systems, and the pump stations were themselves inundated. 
    </figcaption>
  </figure>
</article>
<article>
  <figure>
    <img src="https://cdn.mxd.media/challenges/1a.jpg"/>
    <img src="https://cdn.mxd.media/challenges/1b.jpg"/>
    <img src="https://cdn.mxd.media/challenges/1c.jpg"/>
    <img src="https://cdn.mxd.media/challenges/1d.jpg"/>    
    <figcaption>
      News clippings, above, at DPS 1 capture key moments in SWBNO history, while log books detail hourly changes in conditions and operations over the past century, recorded faithfully by generation after generation of operators.
    </figcaption>
  </figure>
</article>

<article>
  <figure>
    <img src="https://cdn.mxd.media/challenges/3a.jpg"/>
    <img src="https://cdn.mxd.media/challenges/3b.jpg"/>
    <img src="https://cdn.mxd.media/challenges/3c.jpg"/>
    <img src="https://cdn.mxd.media/challenges/4b.jpg"/>
    <figcaption>
      The work of pump station operators is ceaseless, but emerges only intermittently into public view, usually when the city has experienced flooding of some kind. In recent years, the SWBNO has been on a defensive footing, with public relations characterized by mistrust and anger.
    </figcaption>
  </figure>
</article>

<article>
  <figure>
    <img src="https://cdn.mxd.media/challenges/4b.jpg"/>
  </figure>
  <blockquote>
    “They don’t see you in that pump every 30 minutes. They don’t see you staying here during a storm, when everything else is closed” <br><br>
    <span>- Larry Boudreaux</span>
  </blockquote>
</article>

<article>
  <figure>
    <img src="https://cdn.mxd.media/challenges/4a.jpg"/>
    <img src="https://cdn.mxd.media/challenges/5a.jpg"/>
    <figcaption>
      Like a geological core sample, the city’s pump stations are a record of technological and societal change as well as abrupt shifts and disruptions over the past century. We see manual switches that pre-date modern digital controls. We see multiple generations of pumps in a single station. We see changes in the ceiling that indicate where an end wall was removed to expand a station to fit in more pumps as the city grew around the station.   
    </figcaption>
  </figure>
</article>

<article>
  <figure>
    <img src="https://cdn.mxd.media/challenges/4c.jpg"/>
    <figcaption>
      Change is about more than upgrading and expanding pump stations, though. Present-day efforts to reimagine our collective relationship to water include the Urban Water Plan and efforts such as the $141 million Gentilly Resilience District, while organizations such as the Water Collaborative, Water Wise, the Urban Conservancy, Water Block, Groundwork New Orleans are exploring ways in which community leaders, neighborhood groups, policy makers, businesses, and institutions can play active roles in reducing our reliance on pumping and building more sustainable approaches to water management.    
      <br><br>
      Above, Pump Station Operator Sterling Young talks to Anjelina Durio, a native New Orleanian who is working with Batture Engineering on community engagement for St. Anthony Green Streets, and also with the Water Leaders Institute, which brings together community leaders, policy makers, and technical experts to collectively define what “living with water” will look like for the city in the years ahead.  
    </figcaption>
  </figure>
</article>