<h1>{{title}}</h1>
<h2>Photos by CFreedom</h2>
<article class="text-content">
  <p>
    As the rest of New Orleans winds down for the day, Relief Operator Larry Boudreaux and UPW Rob Barrow are just halfway through their 3 to 11 p.m. watch at Station D. Station D is different from the other drainage pump stations. In addition to drainage pumps, the station also houses large machines called frequency changers, which allow SWBNO to convert between 60 Hz power provided by Entergy and 25 Hz power produced by SWBNO turbines. Both energy sources are vital for pump station operations across the city. Station D is also where the drainage system’s supervisory team is based, and where pump station operator training takes place.
  </p>
</article>
<article>
  <figure>
    <img class="vh40" src="https://cdn.mxd.media/pump-operators-individual/1a.jpg"/>
    <img class="vh40" src="https://cdn.mxd.media/pump-operators-individual/1b.jpg"/>
    <figcaption>Radio check is a twice daily task that happens at 7 a.m. and 7 p.m., involving all SWBNO drainage pump stations and Central Control. The operator at each station calls in to share basic information about water levels plus pumping and power operations at their station. Redundancy in communications technologies is critical, particularly in the event of extreme weather. The radio check is also a routine test to confirm that this line of communication is functioning effectively.</figcaption>
  </figure>
</article>
<article>
  <figure>
    <img class="vh60" src="https://cdn.mxd.media/pump-operators-individual/2a.jpg"/>
    <img class="vh60" src="https://cdn.mxd.media/pump-operators-individual/2c.jpg"/>
    <figcaption>Relief Operator Larry Boudreaux demonstrates the proper way to run a frequency changer. This requires communicating with Central, closely observing spinning dials, and flipping a series of switches in just the right order. “And if you miss,” Larry explained, “you can blow something up.”
      <br><br>
      The pump station operator at Station D plays a critical role in distributing the right kinds of power (60 Hz as well as 25 Hz) power to different pump stations. DPS 1, for example has newer pumps that run on 60 Hz power as well as older pumps that run on 25 Hz power. 
    </figcaption>
  </figure>
</article>
<article>
  <figure>
    <img class="vh40" src="https://cdn.mxd.media/pump-operators-individual/2d.jpg"/>
    <img class="vh40" src="https://cdn.mxd.media/pump-operators-individual/2f.jpg"/>
    <figcaption>
      Larry climbs down from a frequency changer, which is a massive dinosaur-like apparatus. When the frequency changer is on, it generates heat, and noise that bounces off the station’s brick walls and tangle of metal pipes.
      <br><br>
      Being a pump station operator requires both mental and physical agility. We observed operators climbing up and down ladders and machines, sliding and “diving” down into pumps to check on bearings and oil levels, hoisting heavy hoses and oil cans, and juggling inputs from radios and phones and myriad forms of data and information.   
      <br><br>
      Back in the control room, the work is often quotidian, routine, and analog. As with the drainage pumps, the operators keep hand-written records of how and when the frequency changers are used.
    </figcaption>
  </figure>
</article>
<article>
  <blockquote>
    “Needless to say, don’t just anybody work over here.” <br><br>
    <span>- Larry Boudreaux</span>
  </blockquote>
</article>
<article>
  <figure>
    <img class="vh40" src="https://cdn.mxd.media/pump-operators-individual/4a.jpg"/>
    <img class="vh40" src="https://cdn.mxd.media/pump-operators-individual/4b.jpg"/>
    <figcaption>Dominique Coleman (left) and Sterling Young (right) are pump station operators. Both have been with the SWBNO for over twenty years. These operators are at the controls in each of the city’s pump stations, making decisions about which pumps to turn on and off, and communicating with other pump stations and “Central” so that their station is working in concert with all of the other parts of the drainage network.</figcaption>
  </figure>
</article>
<article>
  <figure>
    <img class="vh40" src="https://cdn.mxd.media/pump-operators-individual/5c.jpg"/>
    <img class="vh40" src="https://cdn.mxd.media/pump-operators-individual/5d.jpg"/>
    <figcaption>Louis Johnston (left) works with Dominique Coleman at DPS 19 as a utility plant worker, known also as a “UPW” or a “helper.” Jonathan Foster (right) is a UPW at Drainage Pump Station 1, and a trumpet player. Both are nearing the end of the seven phase training program that allows a UPW to become a pump station operator. Jonathan sees his work at the SWBNO as a way to pave the way for his kid to work a city job in the future.</figcaption>
  </figure>
</article>
<article>
  <blockquote>
    “I’m leaving a legacy for my child” <br><br>
    <span>- Jonathan Foster</span>
  </blockquote>
</article>
<article>
  <figure>
    <img class="vh40" src="https://cdn.mxd.media/pump-operators-individual/5a.jpg"/>
    <img class="vh40" src="https://cdn.mxd.media/pump-operators-individual/5b.jpg"/>
    <figcaption>D’juan Boudreaux (left) and Robert Barrow (right) are also UPWs. D’juan is also coming up on three years at the SWBNO, and is itching to become a pump station operator as he nears the last phase of training. Rob’s goal is to become a great pump station operator, and to become a leader amongst his peers, showing them what’s possible in a city where he sees so many young people doing things out of fear, because of peer pressure, and often with their “backs against the wall.”</figcaption>
  </figure>
</article>
<article>
  <blockquote>
    “I’m trying to change the generation I’m in.” <br><br>
    <span>- Robert Barrow</span>
  </blockquote>
</article>