{% extends 'essay_base.html' %}

{% block essay_title %}
  Evening at Station D
{% endblock %}

{% block essay_authorship %}
  Photos by CFreedom
{% endblock %}

{% block essay_intro %}
  <p>
    As the rest of New Orleans winds down for the day, Relief Operator Larry Boudreaux and UPW Rob Barrow are just halfway through their 3 to 11 p.m. watch at Station D. Station D is different from the other drainage pump stations. In addition to drainage pumps, the station also houses large machines called frequency changers, which allow SWBNO to convert between 60 Hz power provided by Entergy and 25 Hz power produced by SWBNO turbines. Both energy sources are vital for pump station operations across the city. Station D is also where the drainage system’s supervisory team is based, and where pump station operator training takes place.
  </p>
{% endblock %}

{% block essay_content %}
<article>
  <figure>
    <img class="vh50" src="{{ config.CDN_URL }}evening-at-station-d/1a{{ config.CDN_HASH }}.jpg"/>
    <img class="vh50" src="{{ config.CDN_URL }}evening-at-station-d/1b{{ config.CDN_HASH }}.jpg"/>
    <figcaption>Radio check is a twice daily task that happens at 7 a.m. and 7 p.m., involving all SWBNO drainage pump stations and Central Control. The operator at each station calls in to share basic information about water levels plus pumping and power operations at their station. Redundancy in communications technologies is critical, particularly in the event of extreme weather. The radio check is also a routine test to confirm that this line of communication is functioning effectively.</figcaption>
  </figure>
</article>
<article>
  <figure>
    <img src="{{ config.CDN_URL }}evening-at-station-d/2a{{ config.CDN_HASH }}.jpg"/>
    <img src="{{ config.CDN_URL }}evening-at-station-d/2c{{ config.CDN_HASH }}.jpg"/>
    <figcaption>Relief Operator Larry Boudreaux demonstrates the proper way to run a frequency changer. This requires communicating with Central, closely observing spinning dials, and flipping a series of switches in just the right order. “And if you miss,” Larry explained, “you can blow something up.”
      <br><br>
      The pump station operator at Station D plays a critical role in distributing the right kinds of power (60 Hz as well as 25 Hz) power to different pump stations. DPS 1, for example has newer pumps that run on 60 Hz power as well as older pumps that run on 25 Hz power. 
    </figcaption>
  </figure>
</article>
<article>
  <blockquote>
    “Needless to say, don’t just anybody work over here.” <br><br>
    <span>- Larry Boudreaux</span>
  </blockquote>
</article>
<article>
  <figure>
    <img class="vh40" src="{{ config.CDN_URL }}evening-at-station-d/2d{{ config.CDN_HASH }}.jpg"/>
    <img class="vh40" src="{{ config.CDN_URL }}evening-at-station-d/2f{{ config.CDN_HASH }}.jpg"/>
    <figcaption>
      Larry climbs down from a frequency changer, which is a massive dinosaur-like apparatus. When the frequency changer is on, it generates heat, and noise that bounces off the station’s brick walls and tangle of metal pipes.
      <br><br>
      Being a pump station operator requires both mental and physical agility. We observed operators climbing up and down ladders and machines, sliding and “diving” down into pumps to check on bearings and oil levels, hoisting heavy hoses and oil cans, and juggling inputs from radios and phones and myriad forms of data and information.   
      <br><br>
      Back in the control room, the work is often quotidian, routine, and analog. As with the drainage pumps, the operators keep hand-written records of how and when the frequency changers are used.
    </figcaption>
  </figure>
</article>
<article>
  <figure>
    <img class="vh40" src="{{ config.CDN_URL }}evening-at-station-d/3b{{ config.CDN_HASH }}.jpg"/>
    <img class="vh40" src="{{ config.CDN_URL }}evening-at-station-d/3a{{ config.CDN_HASH }}.jpg"/>
    <img src="{{ config.CDN_URL }}evening-at-station-d/3c{{ config.CDN_HASH }}.jpg"/>
    <figcaption>Relief Operator Larry Boudreaux runs a pump. Over the course of each shift, operators use all of their senses and many technologies to communicate, collect information, make decisions, and operate machines that date from different eras. Bucket and mops, wrenches and pliers, oil cans and rags -- these are all tools of the trade. Alongside radios, cell phones see heavy use as a source of weather data, as flashlights, and as communication devices.</figcaption>
  </figure>
</article>
<article>
  <figure>
    <img src="{{ config.CDN_URL }}evening-at-station-d/4a{{ config.CDN_HASH }}.jpg"/>
    <figcaption>During his downtime, Larry shares stories to help us understand the impact that working as a pump station operator has had on his life. How he has twice postponed medical procedures in 2019 to make sure he would be available to staff pump stations during tropical storms. How decades of shift work have permanently altered his sleep patterns. How the SWBNO has given him the opportunity to forge a “good living” for his family, but how he has also had to work as an auto mechanic to supplement his income. How the SWBNO has been a source of stable employment not only for him, but for many African Americans across the city.</figcaption>
  </figure>
</article>
{% endblock %}