{% extends 'essay_base.html' %}

{% block essay_title %}
  Keeping the Pumps Running
{% endblock %}

{% block essay_authorship %}
  Photos by CFreedom and Maggie Herman
{% endblock %}

{% block essay_intro %}
  <p>
    Many of the pumps in the city’s drainage system have been in use since the early 1900’s. State-of-the-art a century ago, the city’s oldest pumps run on a different power frequency than what the rest of the city now runs on (25 Hz vs. 60 Hz) and contain parts that are no longer commercially available and must be machined in-house by SWBNO employees.   

  </p><p>
    For the older pumps, turning them on is not as easy as simply flipping a switch. Operators must coordinate machines, representing technological advances from across a century, in order to start moving water. 
  </p><p>
    Pumps also require constant attention and maintenance. This includes making sure all of the spinning parts are properly lubricated so that motors and impellers can work for hours on end, storm after storm and year after year, without metal parts grinding against each other. 
  </p><p>
    Pump station operators are constantly checking oil levels and temperatures using digital monitoring gauges, as well as their ears, noses, and hands, to keep track of what is and isn’t working. They do this, too, for the vacuum pumps, motor generators, pressure boosters, and other machinery in the pump stations.
  </p>
{% endblock %}

{% block essay_content %}
<article>
  <figure>
    <img src="https://cdn.mxd.media/what-does-pump-do/4c.jpg"/>
    <figcaption>
    Operator Sterling Young at the controls in DPS 1. Turning on a pump takes time and is not quite as simple as just flipping a switch. A large number of systems have to work in concert and in proper sequence.
    </figcaption>
  </figure>
</article>
<article>
  <figure>
    <img src="https://cdn.mxd.media/what-does-pump-do/5a.jpg"/>
    <figcaption>
        Operator Larry Boudreaux stands in front of a frequency changer at Station D. The first step to pumping is setting up power (electricity). Pump station operators preparing for rain go on “rain load,” which they do by communicating with Central and requesting power. The SWBNO generates and distributes electricity via underground power distribution lines. The system also relies on energy provider Entergy for newer pumps and also as a backup source of power. The frequency changers at Station D and Central give SWBNO the capacity to convert between 25 Hz and 60 Hz power.  
    </figcaption>
  </figure>
</article>
<article>
  <figure>
    <img class="vh40" src="https://cdn.mxd.media/what-does-pump-do/5d.jpg"/>
    <img class="vh40" src="https://cdn.mxd.media/what-does-pump-do/5e.jpg"/>
    <figcaption>
      Motor generator at DPS 1 (left) and vacuum pump at DPS 4 (right). Even with electricity flowing to the pump station and the pump motor running, a pump may still not be ready to “load.” To load a pump means to have water flowing through the pump. In sequence, pump station operators have to activate motor generators to create field excitation on the pumps, turn on booster pumps to raise water pressure, and then run vacuum pumps to allow atmospheric pressure to push water to the impeller to start the flow of water through the pump. Once these procedures have been followed, the pump is “loaded” and doing the work of lifting water from the suction basin and moving it into the discharge basin.  
    </figcaption>
  </figure>
</article>
<article>
  <figure>
    <img class="vh40" src="https://cdn.mxd.media/what-does-pump-do/5c.jpg"/>
    <img class="vh40" src="https://cdn.mxd.media/what-does-pump-do/5b.jpg"/>
    <figcaption>
      A temperature gauge (left) and oil level indicator (right) at DPS 1. Each station has multiple pumps, which the operators turn on and off depending on the flow of water into the suction basin and how quickly they need to lower the water level. While the pumps are running, the operator and utility plant worker are constantly checking oil levels, temperatures, and pressure, making sure that all of the machinery is running smoothly. Some of this takes the form of reading gauges and control panels. Some of it requires using your ears to listen for something that might be out of alignment, or your hands to feel a piece of equipment to see if it is overheating.  
    </figcaption>
  </figure>
</article>
<article>
  <figure>
    <img class="vh40" src="https://cdn.mxd.media/what-does-pump-do/6c.jpg"/>
    <figcaption>Oil storage at DPS 1.</figcaption>
  </figure>
</article>
<article>
  <figure>
    <img src="https://cdn.mxd.media/what-does-pump-do/7d.jpg"/>
    <figcaption>
      Water in the DPS 1 discharge basin. The water flowing through the city’s drainage culverts and surface canals can be beautiful, but it also carries with it the trash and pollutants that accumulate in city streets and storm drains or that gets dumped into drainage canals.
    </figcaption>
  </figure>
</article>
<article>
  <figure>
    <img src="https://cdn.mxd.media/what-does-pump-do/8d.jpg"/>
    <figcaption>Trash screen at DPS 4. Water flowing into the suction basin passes through metal screens, which filter out large pieces of debris. The pump station operator turns on mechanical trash rakes to remove this debris from the water so the trash does not get pulled into the pumps and cause damage.</figcaption>
  </figure>
</article>
<article>
  <figure>
    <img class="vh40" src="https://cdn.mxd.media/what-does-pump-do/8e.jpg"/>
    <img class="vh40" src="https://cdn.mxd.media/what-does-pump-do/8f.jpg"/>
    <figcaption>
      Trash screen and rakes at DPS 4.
    </figcaption>
  </figure>
</article>
{% endblock %}