<h1>{{title}}</h1>
<article>
  <figure>
    <img src="https://cdn.mxd.media/what-does-pump-do/4c.jpg"/>
    <figcaption>
    Operator Sterling Young at the controls in DPS 1.
    <br><br>
    Turning on a pump takes time and it’s not quite as simple as just flipping a switch. A large number of systems have to work in concert and in proper sequence.
    </figcaption>
  </figure>
</article>
<article>
  <figure>
    <img src="https://cdn.mxd.media/what-does-pump-do/5a.jpg"/>
    <figcaption>
        Operator Larry Boudreaux in front of a frequency changer at Station D.
  The first step to pumping is setting up power. Pump station operators preparing for rain go on “rain load,” which they do by communicating with Central and requesting power. The SWBNO generates and distributes its own power via underground power distribution lines. The system also relies on Entergy for specific pumps and also as a backup source of power. 
    </figcaption>
  </figure>
</article>
<article>
  <figure>
    <img src="https://cdn.mxd.media/what-does-pump-do/5d.jpg"/>
    <img src="https://cdn.mxd.media/what-does-pump-do/5e.jpg"/>
    <figcaption>
      Motor generator at DPS 1 (left) and vacuum pump at DPS 4 (right). Even with power flowing to the pump station and the pump motor running, you still can’t “load” a pump quite yet. (To load a pump means to have water flowing through a pump.) In sequence, pump station operators have to activate motor generators to create field excitation on the pumps, turn on booster pumps to raise water pressure, and then run the vacuum pumps in order to remove atmospheric pressure inside the pump to “pull water to the impeller so that you can start pumping.” Once all of that happens, the pump is “loaded” and doing the work of lifting water from the suction basin and moving it into the discharge basin. 
    </figcaption>
  </figure>
</article>
<article>
  <figure>
    <img src="https://cdn.mxd.media/what-does-pump-do/5c.jpg"/>
    <figcaption>
      A temperature gauge at DPS 1. Each station has multiple pumps, which the operators turn on and off depending on the flow of water into the suction basin and how quickly they need to lower the water level. While the pumps are running, the operator and utility plant worker are constantly checking oil levels, temperatures, and pressure, making sure that all of the machinery is running smoothly. Some of this takes the form of reading gauges and control panels. Some of it requires using your ears to listen for specific sounds or disturbances, or using your hands to feel a piece of equipment to see if it might be overheating. 
    </figcaption>
  </figure>
</article>
<article>
  <figure>
    <img src="https://cdn.mxd.media/what-does-pump-do/5b.jpg"/>
    <img src="https://cdn.mxd.media/what-does-pump-do/6c.jpg"/>
    <figcaption>Oil level gauge and oil cans at DPS 1.</figcaption>
  </figure>
</article>
<article>
  <figure>
    <img src="https://cdn.mxd.media/what-does-pump-do/7d.jpg"/>
    <figcaption>
      Water in the DPS 1 discharge basin. The water flowing through the city’s drainage culverts and surface canals can be beautiful, but it also carries with it the litter and toxins that accumulate in city streets and storm drains or that gets dumped into drainage canals.
    </figcaption>
  </figure>
</article>
<article>
  <figure>
    <img src="https://cdn.mxd.media/what-does-pump-do/8d.jpg"/>
    <figcaption>Trash screen at DPS 4. Water flowing into the suction basin passes through metal screens, which filter out large pieces of debris. The pump station operator turns on mechanical trash rakes to remove this debris from the water so it doesn’t get pulled into the pumps and cause damage. </figcaption>
  </figure>
</article>
<article>
  <figure>
    <img src="https://cdn.mxd.media/what-does-pump-do/8e.jpg"/>
    <img src="https://cdn.mxd.media/what-does-pump-do/8f.jpg"/>
    <figcaption>
      Trash screen and rakes at DPS 4.
    </figcaption>
  </figure>
</article>