<h1>{{title}}</h1>
<article class="text-content">
  <h2>Photos by CFreedom and Maggie Hermann</h2>
  <p>
    Who are the people that run New Orleans’ drainage pump stations (DPS), twenty four hours a day? We spoke with operators at five different stations, and got to know them as individuals. Proud parents and trumpet players, power lifters and auto mechanics, philosophers and rideshare drivers -- they are each striving to make a living and to support their families. As Utility Plant Worker Rob Barrow puts it, working at the Sewerage and Water Board is also “a chance to help the city.” 
  </p>
  <p>
    A few common threads emerged in our conversations.
  </p>
  <p>
    The first is that the SWBNO provides relatively good employment conditions in a city where so many residents only have access to low-paying service and tourism jobs. Relief Operator Larry Boudreaux describes the importance of the SWBNO to the city’s underserved populations: someone without a high school degree, or with a prior felony conviction, is able to provide for their family if they complete the SWBNO’s training program and dedicate themself to the work. 
  </p>
  <p>
    The second is that the operators see themselves as emergency personnel, their work vital to the safety of their fellow New Orleanians. Of the many sacrifices that operators make, the most significant is that each is asked to leave their families to report to work when tropical storms bear down on the region. As Utility Plant Worker Louis Johnston says, “Family have to be responsible over there, when I have to be here.” 
  </p>
</article>
<article>
  <figure>
    <img src="https://cdn.mxd.media/pump-operators-individual/1a.jpg"/>
    <figcaption>General Superintendent Bob Turner oversees the drainage network, along with the city’s sewerage and drinking water systems. He joined SWBNO in January 2019 as the agency was working to regain public trust after the flooding events of 2017 and 2018.</figcaption>
  </figure>
</article>
<article class="blockquote-container">
  <blockquote>
    “There’s a pervasive attitude that it’s a bunch of idiots that run these pump stations. And that’s certainly far from the truth.” <br><br>
    <span>- General Superintendent Bob Turner</span>
  </blockquote>
</article>
<article>
  <figure>
    <img src="https://cdn.mxd.media/pump-operators-individual/1b.jpg"/>
    <figcaption>Drainage Supervisor Gerald Tilton left college at 24 to join the SWBNO. He had planned to stay at the SWBNO for a short time before returning to school, but came to appreciate the significance of what he was doing and never left. Looking at logs from early in the 20th century, Gerald often reflects on the fact that others have stood where he stands, completing similar tasks for over a century.</figcaption>
  </figure>
</article>
<article>
  <figure>
    <img class="vh40" src="https://cdn.mxd.media/pump-operators-individual/2a.jpg"/>
    <img class="vh40" src="https://cdn.mxd.media/pump-operators-individual/2c.jpg"/>
    <figcaption>Conard “CJ” James (left) is a supervisor, and a 38-year veteran of the SWBNO. James’ clothes are always impeccably pressed. He came out of retirement a few years back to facilitate staff training. Kenneth McGuire Sr. (right) is one of the supervisor assistants.</figcaption>
  </figure>
</article>
<article>
  <figure>
    <img class="vh40" src="https://cdn.mxd.media/pump-operators-individual/3a.jpg"/>
    <img class="vh40" src="https://cdn.mxd.media/pump-operators-individual/3b.jpg"/>
    <figcaption>Larry Boudreaux (left) and Lionel “Jupe” Jupiter (right) are both relief operators. This means both men have the knowledge and skills to operate multiple pump stations, each with its own particularities and eras of machinery. Lionel left a job as a sales manager in telecommunications to join the SWBNO six years ago, while Larry has worked 31 years on the job. He loves the responsibility of training younger staff, making sure they understand the ins and outs of the machinery they operate.</figcaption>
  </figure>
</article>
<article class="blockquote-container">
  <blockquote>
    “I will never forget when I first made operator. I had nightmares about flooding. [...] You have to take the job seriously. It’s people’s jobs, lives.” <br><br>
    <span>- Larry Boudreaux</span>
  </blockquote>
</article>
<article>
  <figure>
    <img class="vh40" src="https://cdn.mxd.media/pump-operators-individual/4a.jpg"/>
    <img class="vh40" src="https://cdn.mxd.media/pump-operators-individual/4b.jpg"/>
    <figcaption>Dominique Coleman (left) and Sterling Young (right) are pump station operators. Both have been with the SWBNO for over twenty years. These operators are at the controls in each of the city’s pump stations, making decisions about which pumps to turn on and off, and communicating with other pump stations and “Central” so that their station is working in concert with the other parts of the drainage network.</figcaption>
  </figure>
</article>
<article>
  <figure>
    <img class="vh40" src="https://cdn.mxd.media/pump-operators-individual/5c.jpg"/>
    <img class="vh40" src="https://cdn.mxd.media/pump-operators-individual/5d.jpg"/>
    <figcaption>Louis Johnston (left) works with Dominique Coleman at DPS 19 as a utility plant worker, known also as a “UPW” or a “helper.” Like many other pump station operators, both Louis and Dominique work additional jobs in order to support their families. Jonathan Foster (right) is a UPW at DPS 1, and a trumpet player. Both are nearing the end of the seven phase training program that UPWs undergo to become pump station operators. Jonathan sees his work at the SWBNO as a way to pave the way for his child to work a city job in the future.</figcaption>
  </figure>
</article>
<article class="blockquote-container">
  <blockquote>
    “I’m leaving a legacy for my child” <br><br>
    <span>- Jonathan Foster</span>
  </blockquote>
</article>
<article>
  <figure>
    <img class="vh40" src="https://cdn.mxd.media/pump-operators-individual/5a.jpg"/>
    <img class="vh40" src="https://cdn.mxd.media/pump-operators-individual/5b.jpg"/>
    <figcaption>D’juan Boudreaux (left) and Robert Barrow (right) are also UPWs. Like Rob, D’juan is coming up on three years at the SWBNO. Both are itching to become pump station operators as they near the last phase of training. Rob’s goal is to do his job “to perfection” once he makes operator, and to become a leader amongst his peers, showing them what’s possible in a city where he sees many young people doing things because of peer pressure, for lack of economic opportunities, and often with their “backs against the wall.” </figcaption>
  </figure>
</article>
<article class="blockquote-container">
  <blockquote>
    “I’m trying to change the generation I’m in.” <br><br>
    <span>- Robert Barrow</span>
  </blockquote>
</article>