{% extends 'essay_base.html' %}

{% block essay_title %}
  Communication and Teamwork
{% endblock %}

{% block essay_authorship %}
  Photos by CFreedom and Maggie Herman
{% endblock %}

{% block essay_intro %}
  <p>
    What kind of teamwork is critical to successful drainage operations? 
  </p>
  <p>
    There is a control room in each pump station. This is where communications systems and the switchboards for the pumps are located. Here, the operator makes decisions that are then carried out in the pump station, typically by the utility plant worker. Pump station operators and UPWs communicate verbally or with hand signals, given the intense noise created by pumps and all of the motor generators, pressure boosters, fans, and other critical machinery. 
  </p>
  <p>
    The operator is in close communication with all other parts of the system, from Central Control in Carrollton, to the people managing power generation and distribution at Station D in the Eighth Ward, to other pump stations. This communication includes daily, system-wide radio checks at 7 a.m. and 7 p.m., as well as constant contact before, during, and after each storm. 
  </p>
  <p>
    Operators use walkie-talkies, radios, phones, and a digital SCADA (Supervisory Control And Data Acquisition) system to share information and coordinate operations. 
  </p>
  <p>
    Operators do everything from running pumps to cutting grass, but the complexity of the systems require additional inputs. Many situations and repairs require specialists and subcontractors to pay a visit. This might be a machinist coming in to replace an 80-year old part, an electrician performing a test on a balky generator, or a waste disposal service hauling away trash pulled out of the water from a recent storm.
  </p>
{% endblock %}

{% block essay_content %}
<article>
  <figure>
    <img class="vh40" src="{{ config.CDN_URL }}pump-operators-team/4a{{ config.CDN_HASH }}.jpg"/>
    <img class="vh40" src="{{ config.CDN_URL }}pump-operators-team/3a{{ config.CDN_HASH }}.jpg"/>
    <figcaption>
      <b>Dominique Coleman and Louis Johnston at DPS 19.</b> During a typical shift, an operator and a UPW work together to complete daily operational routines and to run the pumps when rain falls. This includes mopping floors and cleaning out refrigerators, checking oil levels and batteries, on-the-job training between operator and UPW, clearing the grates of debris, as well as tracking changing weather patterns and making on-the-spot decisions when equipment fails during a storm. 
      <br><br>
    A key part of the job is learning to pass time together, sharing stories and jokes, and building the familiarity necessary to interpret each other’s thoughts and needs when you can barely hear through the noise of pumps and generators. It also means finding your own peace when the day’s required tasks are complete, there is no rain in sight, and there are hours still on the clock.
</figcaption>
  </figure>
</article>
<article>
  <figure>
    <img src="{{ config.CDN_URL }}pump-operators-team/4b{{ config.CDN_HASH }}.jpg"/>
  </figure>
</article>

<article>
  <figure>
    <img src="{{ config.CDN_URL }}pump-operators-team/1a{{ config.CDN_HASH }}.jpg"/>
    <figcaption>
      <b>The control room at DPS 1.</b> This is the only space with air conditioning and any degree of sound isolation. Outside the control room, temperatures in the station regularly climb into the 90s (>30 degrees Celsius) and above, especially if the exhaust fans stop running due to a loss in power, and the rumbling and clanging of machines and rushing water leaves a persistent ringing in the ears of pump station staff. </figcaption>
  </figure>
</article>

<article>
  <figure>
    <img class="vh40" src="{{ config.CDN_URL }}pump-operators-team/2a{{ config.CDN_HASH }}.jpg"/>
    <img class="vh40" src="{{ config.CDN_URL }}pump-operators-team/2b{{ config.CDN_HASH }}.jpg"/>
    <figcaption>
      Knowledge transfer occurs through an official seven-phase training program, through which an entry level “utility plant worker” can move up to “pump station operator.” Equally critical are daily interactions between operators and utility plant workers, and the interactions between operators and supervisors before, during, and after each storm.</figcaption>
  </figure>
</article>

<article>
  <figure>
    <img src="{{ config.CDN_URL }}pump-operators-team/3b{{ config.CDN_HASH }}.jpg"/>
    <figcaption>
      Drainage Supervisor Gerald Tilton (foreground) talks to Utility Plant Worker D’Juan Boudreaux through the post-storm testing of a pump at DPS 1. The supervisors are constantly teaching and helping operators and UPWs reference historical knowledge, connect something observed at one station to what is happening at other stations, and learn broader principles and practices.
    </figcaption>
  </figure>
  <blockquote>
    “You’re never going to take the human factor out, nor would you want to.” <br><br>
    <span>- Drainage and Sewerage Superintendent Gerald Tilton</span>   
  </blockquote>
</article>

<article>
  <figure>
    <img src="{{ config.CDN_URL }}pump-operators-team/3c{{ config.CDN_HASH }}.jpg"/>
    <figcaption>
      Supervisor Conard “CJ” James and Pump Station Operator Renaldo Green in the control room at DPS 1, also working on testing a pump at DPS 1 after a storm. CJ, foreground, is part of the “kickstart” generation that had to learn how to turn on most of the machinery in a station manually. The younger operators are now part of the “push button” generation, with digital controls making it easier to operate many key pieces of machinery -- including drainage pumps, vacuum pumps, and motor generators -- from the control room.
    </figcaption>
  </figure>
</article>

<article>
  <figure>
    <img src="{{ config.CDN_URL }}pump-operators-team/1b{{ config.CDN_HASH }}.jpg"/>
    <figcaption>
      Pump Station Operator Sterling Young, in the middle, is flanked by colleagues and supervisors. 
    </figcaption>
  </figure>
</article>
{% endblock %}