{% extends 'essay_base.html' %}

{% block essay_title %}
  Morning at DPS 19
{% endblock %}

{% block essay_authorship %}
  Photos by Maggie Hermann
{% endblock %}

{% block essay_intro %}
	<p>
	  Drainage pump station operators are at work 24 hours a day, 7 days a week. This is true when it is pouring rain, and also when it hasn’t rained in three weeks. The 24 hour day is broken into three shifts, or “watches.” The first watch starts at 7 a.m. and runs until 3 p.m. The second watch runs from 3 p.m. to 11 p.m., and the third watch covers the hours from 11 p.m. to 7 a.m.
	</p>
{% endblock %}

{% block essay_content %}
	<article>
	  <figure>
	    <img src="{{ config.CDN_URL }}morning-at-dps-19/1a{{ config.CDN_HASH }}.jpg"/>
	    <figcaption>
	    <b>DPS 19 in the Upper Ninth Ward.</b> It is 6:30 a.m. and the sun is rising to the east over the Industrial Canal. Pump Station Operator James Taylor gets ready to head home at the end of the night shift. 
	    </figcaption>
	  </figure>
	</article>
	<article>
	  <figure>
	    <img class="vh50"  src="{{ config.CDN_URL }}morning-at-dps-19/1b{{ config.CDN_HASH }}.jpg"/>
	    <img class="vh50"  src="{{ config.CDN_URL }}morning-at-dps-19/1c{{ config.CDN_HASH }}.jpg"/>
	    <figcaption>
	    Pump Station Operator Dominique Coleman arrives well before the official start of her shift, which we find is common among many pump station operators, and heads towards the control room. Even before she puts down her purse, she begins checking valves and gauges, making sure that everything is in order.  
	    </figcaption>
	  </figure>
	</article>
	<article>
	  <figure>
	    <img src="{{ config.CDN_URL }}morning-at-dps-19/1d{{ config.CDN_HASH }}.jpg"/>
	    <figcaption>
	    <b>Louis Johnston arrives.</b> He works closely with Dominique as her Utility Plant Worker, or “helper.” Both Louis and Dominique are multi-year veterans of the SWBNO. They are deeply familiar with each other and the routines that are required of them, according to the watch and the day of the week. 
	    <br><br>
	    Routines include tasks such as scrubbing floors, cutting the grass around the station, draining air compressors, and checking switchboard lights. Other critical work includes constant communications with pump station operators, supervisors, and dispatchers located at other locations across the system. 
	    </figcaption>
	  </figure>
	</article>
	<article>
	  <figure>
	  	<img src="{{ config.CDN_URL }}morning-at-dps-19/2a{{ config.CDN_HASH }}.jpg"/>
	    <img src="{{ config.CDN_URL }}morning-at-dps-19/2c{{ config.CDN_HASH }}.jpg"/>
	    <figcaption>
	    <b>7 a.m. radio check.</b> At this time every morning, pump station operators across the city take part in a roll call of sorts. As everyone listens in, each operator calls, in sequence, and shares basic information about water levels and pump operations at their station. Each operator also records this information on an hourly basis in their station’s log book.  
	    </figcaption>
	  </figure>
	</article>
	<article>
	  <figure>
		<img src="{{ config.CDN_URL }}morning-at-dps-19/3a{{ config.CDN_HASH }}.jpg"/>
		<img src="{{ config.CDN_URL }}morning-at-dps-19/3b{{ config.CDN_HASH }}.jpg"/>
	  	<img class="vh50" src="{{ config.CDN_URL }}morning-at-dps-19/3d{{ config.CDN_HASH }}.jpg"/>
	    <img class="vh50" src="{{ config.CDN_URL }}morning-at-dps-19/3e{{ config.CDN_HASH }}.jpg"/>
	    <figcaption>
	    <b>The rising sun burns off the morning fog.</b> Dominique shows us the discharge basin of DPS 19. In this case, the discharge basin is the Industrial Canal that allows ships to cut through the Ninth Ward and pass between the Mississippi River and Lake Pontchartrain.   
	    </figcaption>
	  </figure>
	</article>
	<article>
	  <figure>
	    <img src="{{ config.CDN_URL }}morning-at-dps-19/4b{{ config.CDN_HASH }}.jpg"/>
	    <figcaption>
	    <b>Louis Johnston in the control room at the generator house, which provides backup power to the pumps at DPS 19 in case regular power systems fail.</b>    
	    </figcaption>
	  </figure>
	</article>
	<article>
	  <figure>
	  	<img src="{{ config.CDN_URL }}morning-at-dps-19/4c{{ config.CDN_HASH }}.jpg"/>
	    <img src="{{ config.CDN_URL }}morning-at-dps-19/4a{{ config.CDN_HASH }}.jpg"/>
	    <figcaption>
	    A “watch” involves a mix of station chores and routine maintenance, periods of frenzied activity and immense stress when the operators’ actions have significant consequences for the city’s residents. Louis Johnston expressed the way this feels when he told us, “It’s a constant fight to stay dry. To stay above water.” There are also times, though,  when the hours pass by more slowly, and there is space to watch the sky or catch up with colleagues.   
	    </figcaption>
	  </figure>
	</article>
{% endblock %}