{% extends 'essay_base.html' %}

{% block essay_title %}
  Evening at Station D
{% endblock %}

{% block essay_authorship %}
  Photos by CFreedom and Maggie Herman
{% endblock %}

{% block essay_intro %}
  <p>
    We visit DPS 1 mid-morning one day in late August. The station is busier than usual. A big afternoon rainstorm had caused street flooding in different parts of the city the previous day. In addition to the Pump Station Operator Renaldo Green and UPW D’juan Boudreaux, there is a team of electricians tackling routine maintenance on one of the station’s motor generators, and a team of supervisors working with Renaldo and D’juan to do a post-operational analysis of issues that had arisen the day before.
  </p>
{% endblock %}

{% block essay_content %}
<article>
  <figure>
    <img src="{{ config.CDN_URL }}day-after-storm/1b{{ config.CDN_HASH }}.jpg"/>
    <figcaption>Electricians run a test to determine the state of the insulation for a motor generator. This is just one of a slate of tests prescribed after the flooding events of August 2017. </figcaption>
  </figure>
</article>
<article>
  <figure>
    <img src="{{ config.CDN_URL }}day-after-storm/1a{{ config.CDN_HASH }}.jpg"/>
    <figcaption>Utility Plant Worker D’juan Boudreaux moves hose through DPS 1. During the previous day’s rainstorm, there had been light flooding in the station caused by water seeping into the station from the discharge basin.</figcaption>
  </figure>
</article>
<article>
  <blockquote>
    “Every rain event, you’re going to have some upheavals, some hiccups.” <br><br>
    <span>- Drainage Supervisor Gerald Tilton</span>
  </blockquote>
</article>
<article>
  <figure>
    <img class="vh60" src="{{ config.CDN_URL }}day-after-storm/2a{{ config.CDN_HASH }}.jpg"/>
    <img class="vh40" src="{{ config.CDN_URL }}day-after-storm/2b{{ config.CDN_HASH }}.jpg"/>
    <img class="vh40" src="{{ config.CDN_URL }}day-after-storm/2c{{ config.CDN_HASH }}.jpg"/>
    <figcaption>
      Why did water flow back into the station, and where? And why did one of the pumps lose its vacuum, or “lose prime,” during the storm? A supervisory team is at the station doing post-operational testing and analysis to answer these questions. This includes checking digital data collected during the storm, reviewing building plans and systems diagrams, and running actual tests on a pump to recreate conditions from the day before.
    </figcaption>
  </figure>
</article>
<article>
  <figure>
    <img class="vh40" src="{{ config.CDN_URL }}day-after-storm/3b{{ config.CDN_HASH }}.jpg"/>
    <img class="vh40" src="{{ config.CDN_URL }}day-after-storm/3c{{ config.CDN_HASH }}.jpg"/>
    <figcaption>
      Supervisor Conard “CJ” James is at the controls (left), working closely with the rest of the team to recreate conditions from the previous day. With Operator Renaldo Green up on the catwalk above the pump (right), the team is trying to identify what may have caused the pump to lose prime as the storm was winding down.    
    </figcaption>
  </figure>
</article>
<article>
  <blockquote>
    “Everything is based on getting better and doing better.” <br><br>
    <span>- Drainage Supervisor Gerald Tilton</span>
  </blockquote>
</article>
<article>
  <figure>
    <img class="vh40" src="{{ config.CDN_URL }}day-after-storm/3d{{ config.CDN_HASH }}.jpg"/>
    <figcaption>
      Above, Utility Plant Worker D’juan Boudreaux and Supervisor Conard James make adjustments on a vacuum pump. This kind of work is vital for ensuring that pumps and all associated machinery are ready for the next rainfall. Below, Drainage Supervisor Gerald Tilton talks D’juan through the testing process. SWBNO employees are in a constant process of troubleshooting and refining processes and procedures, and passing knowledge from one generation to the next. 
    </figcaption>
  </figure>
</article>
<article>
  <figure>
    <img class="vh40" src="{{ config.CDN_URL }}day-after-storm/3e{{ config.CDN_HASH }}.jpg"/>
    <figcaption>
      It is important to note, however, that even when everything is operating smoothly, the heavy rainfall common to this region can still be too much for the city’s pump stations, resulting in flooding in our neighborhoods. As Gerald Tilton puts it, “Mother Nature just overwhelms you sometimes. Ain’t nothing we can do about it.” 
    </figcaption>
  </figure>
</article>
{% endblock %}