{% extends 'essay_base.html' %}

{% block essay_title %}
  Water Creature
{% endblock %}

{% block essay_authorship %}
  Floating Sculpture by Carole Alden
{% endblock %}

{% block essay_intro %}
  <p>
    On Sunday, August 4, 2019, we launched a 30-foot water creature on Bayou St. John. Over the course of the preceding week, artist Carole Alden led the design and creation of this sculpture, working primarily with salvaged materials provided by the <a href="https://www.thegreenproject.org/">Green Project</a>.
  </p>
  <p>
    Carole learned about the Blue House and Civic Studio through <a href="https://issue1.mxd.media/">Mixed Media I: Incarceration</a> while she was in prison. After completing her sentence in 2019, she joined us in New Orleans to imagine, build, and launch a large water creature inspired by the waterways and water systems of New Orleans.
  </p>
  <p>
    Carole developed a buoyant frame for the fish using sawn PVC pipe sections, metal wiring, and insulation foam. Carole guided volunteers in turning construction fencing and old CDs into a glittering skin for the fish, reworking discarded grass mats into fins, and laser discs into eyes and teeth. We also installed solar-powered lights to light up the fish at night.
  </p>
  <p>
    The creature floated out on Bayou St. John for two days and two nights, and has been re-installed at the <a href="https://www.google.com/maps/place/2831+Marais+St,+New+Orleans,+LA+70117/@29.9696186,-90.0493552,17z/data=!3m1!4b1!4m5!3m4!1s0x8620a62618373f81:0xeedafecd56434049!8m2!3d29.9696186!4d-90.0471665">Green Project</a> for public viewing.
  </p>
  <p>
    Learn more about Carole and her artwork <a href="https://heritageandarts.utah.gov/meet-the-utah-artist-who-is-crocheting-her-way-to-a-new-life/">here</a>.
  </p>
{% endblock %}

{% block essay_content %}
<article>
  <figure>
    <img class="vh50" src="{{ config.CDN_URL }}water-creature/1a{{ config.CDN_HASH }}.jpg"/>
    <img class="vh50" src="{{ config.CDN_URL }}water-creature/1b{{ config.CDN_HASH }}.jpg"/>
    <figcaption>
    The Water Creature is a 30-foot water creature designed by artist Carole Alden, constructed by Carole and a team of volunteers over the course of a week in August 2019. (Photos by James Collier)
    </figcaption>
  </figure>
</article>
<article>
  <figure>
    <img class="vh50" src="{{ config.CDN_URL }}water-creature/2a{{ config.CDN_HASH }}.jpg"/>
    <img class="vh50" src="{{ config.CDN_URL }}water-creature/2b{{ config.CDN_HASH }}.jpg"/>
  </figure>
</article>
<article>
  <figure>
    <img src="{{ config.CDN_URL }}water-creature/3a{{ config.CDN_HASH }}.jpg"/>
  </figure>
</article>
<article>
  <figure>
    <figcaption>
    The creature lived on Bayou St. John for two days and two nights. Solar-powered LEDS lit up the creature from the inside after dark. The creature has been re-installed at the Green Project for public viewing. (Photos by Maggie Hermann and James Collier)
    </figcaption>
  </figure>
</article>
<article>
  <figure>
    <img src="{{ config.CDN_URL }}water-creature/4b{{ config.CDN_HASH }}.jpg"/>
  </figure>
</article>
<article>
  <figure>
    <img class="vh50" src="{{ config.CDN_URL }}water-creature/4a{{ config.CDN_HASH }}.jpg"/>
    <img class="vh50" src="{{ config.CDN_URL }}water-creature/4c{{ config.CDN_HASH }}.jpg"/>
    <img src="{{ config.CDN_URL }}water-creature/4d{{ config.CDN_HASH }}.jpg"/>
    <figcaption>
    The team transported the creature from the Blue House to Bayou St. John in segments, before wiring the pieces together, attaching the fins, and applying final layers of paint. (Photos by James Collier and Sergio Padilla)
    </figcaption>
  </figure>
</article>
<article>
  <figure>
    <img class="vh50" src="{{ config.CDN_URL }}water-creature/5a{{ config.CDN_HASH }}.jpg"/>
    <img class="vh50" src="{{ config.CDN_URL }}water-creature/5b{{ config.CDN_HASH }}.jpg"/>
    <img class="vh30" src="{{ config.CDN_URL }}water-creature/5c{{ config.CDN_HASH }}.jpg"/>
    <img class="vh30" src="{{ config.CDN_URL }}water-creature/5d{{ config.CDN_HASH }}.jpg"/>
    <img class="vh50" src="{{ config.CDN_URL }}water-creature/5e{{ config.CDN_HASH }}.jpg"/>
    <img class="vh50" src="{{ config.CDN_URL }}water-creature/5f{{ config.CDN_HASH }}.jpg"/>
    <figcaption>
    During the course of construction, Carole made only one drawing. She relied, instead, on an intuitive feel for scale, structure, texture, and materials. She developed construction details that made it possible for people of all ages and abilities to take part in the making of the fish, from the way in which the fish skin was painted and textured, to the way in which recycled plastic threads were used to connect different pieces.
    </figcaption>
  </figure>
</article>
{% endblock %}