{% extends 'essay_base.html' %}

{% block essay_title %}
  What Does a Pump Station Do?
{% endblock %}

{% block essay_authorship %}
  Photos by CFreedom and Maggie Herman
{% endblock %}

{% block essay_intro %}
  <p>
   There are 24 drainage pump stations located across New Orleans, housing a total of 120 pumps. When water falls from the sky, some of it is caught by plants, and some of it is absorbed into the ground. Everything else runs off and flows into storm drains, and from there into the city’s network of pipes and canals. This network draws water by gravity into the suction basins of drainage pump stations. Inside the stations, operators turn on one or more pumps to lift the water from a lower elevation to a higher elevation. This sends water flowing towards the next pump station, or directly into Lake Pontchartrain, the Industrial Canal, Bayou Bienvenue, or the Gulf Intracoastal Waterway. 
  </p>
  <p>

    Flooding occurs when rainfall is so intense that the pumps cannot lower water levels quickly enough to prevent water from collecting in the streets.
  </p>
  <p>

    This set of images follows that flow of water into DPS 1 and DPS 4, and beyond, during both wet and dry weather. Even when it is not raining, operators periodically turn on constant duty pumps to lower groundwater levels. Unfortunately, these cycles of pumping during both wet and dry weather contribute directly to subsidence, which is the sinking of the ground and the primary reason why nearly 50% of the city’s land area is below sea level.

  </p>
{% endblock %}

{% block essay_content %}
<article class="text-content">
</article>
<article>
  <figure>
    <img src="{{ config.CDN_URL }}what-does-pump-do/1a{{ config.CDN_HASH }}.jpg"/>
    <figcaption>DPS 1 sits at the intersection of Broad and Martin Luther King Jr. streets, at a low point that was the back edge of the city at the beginning of the twentieth century. Thousands of motorists and cyclists pass by each day. Those heading downtown are on the “suction” side of the pump station, while those heading uptown are on the “discharge” side of the station. </figcaption>
  </figure>
</article>
<article>
  <figure>
    <img src="{{ config.CDN_URL }}what-does-pump-do/2a{{ config.CDN_HASH }}.jpg"/>
    <figcaption>When rain hits asphalt streets, concrete parking lots, and rooftops, water accumulates rapidly and flows via storm drains and a network of pipes to large drainage culverts, or underground canals. Some culverts are as big as twenty feet (6.1 meters) wide, and carry water downhill towards the city’s drainage pumps stations.</figcaption>
  </figure>
</article>
<article class="blockquote-container">
  <blockquote>
    “There is no accounting for when the rain is going to fall”<br><br>
    <span>- Drainage and Sewerage Superintendent Gerald Tilton</span>
  </blockquote>
</article>
<article>
  <figure>
    <img src="{{ config.CDN_URL }}what-does-pump-do/3a{{ config.CDN_HASH }}.jpg"/>
    <figcaption>
    <b>View of DPS 4 from above, with the suction side towards the bottom, and the discharge side towards the top.</b> Central notifies pump station operators when they need to go on “rain load.” This means setting up power generation systems in preparation for turning on pumps to manage the water that is coming to the station.
    </figcaption>
  </figure>
</article>
<article>
  <figure>
    <img class="vh40" src="{{ config.CDN_URL }}what-does-pump-do/3b{{ config.CDN_HASH }}.jpg"/>
    <img class="vh40" src="{{ config.CDN_URL }}what-does-pump-do/3c{{ config.CDN_HASH }}.jpg"/>
    <figcaption><b>The suction basins at DPS 4 (left/top) and DPS 1 (right/bottom).</b> The end of the culvert that brings water from Gentilly neighborhoods to the pump station is visible at DPS 4. At DPS 1, a hatch door and ladder provide access to the suction basin that is otherwise covered and hidden from view. As water levels in the suction basin rise with rainfall or fluctuations in groundwater, operators turn on the pumps to lower the water level in the basin.</figcaption>
  </figure>
</article>
<article class="blockquote-container">
  <blockquote>
    “We can’t pump what we don’t get.” <br><br>
    <span>- Relief Operator Larry Boudreaux</span>
  </blockquote>
</article>
<article>
  <figure>
    <img class="vh40" src="{{ config.CDN_URL }}what-does-pump-do/4a{{ config.CDN_HASH }}.jpg"/>
    <img class="vh40" src="{{ config.CDN_URL }}what-does-pump-do/4b{{ config.CDN_HASH }}.jpg"/>
    <figcaption>Where rain falls determines which suction basins start to fill and which drainage pump stations are called to action. Mechanical and digital monitoring systems (staff gages and digital monitoring systems above) help the operators keep track of elevations in the suction basin. When the water level in the basin reaches the pump station’s specific “suction elevation” -- which is between 11’ and 12’ below sea level at DPS 1, for example -- pump station operators choose which pumps to turn on, and for how long, in order to draw the water down to a desired level. With multiple pumps in each station, which pumps are turned on and the sequence of their use is up to the discretion of the operator -- as Drainage and Sewerage Superintendent Gerald Tilton explained, “every operator would probably do something different.”</figcaption>
  </figure>
</article>
<article class="blockquote-container">
  <blockquote>
    “You have to react to it step by step”<br><br>
    <span>- General Superintendent Bob Turner</span>
  </blockquote>
</article>
<article>
  <figure>
    <img src="{{ config.CDN_URL }}what-does-pump-do/6b{{ config.CDN_HASH }}.jpg"/>
    <figcaption>Motor for a pump, spinning. What does a pump station do? Fundamentally, the pumps inside of the station lift water up and out of the suction basin, and release that water into a discharge basin at a higher elevation. From there, water flows by gravity to the next pump station or out of the city into Lake Pontchartrain, the Industrial Canal, Bayou Bienvenue, or the Gulf Intracoastal Waterway. 
    </figcaption>
  </figure>
</article>
<article>
  <figure>
    <img src="{{ config.CDN_URL }}what-does-pump-do/6a{{ config.CDN_HASH }}.jpg"/>
    <figcaption>
    The array of pumps at DPS 1 -- there are seven Wood screw pumps, two vertical lift pumps, and two constant duty (dry weather) pumps at this station. When using a Wood screw pump to move water, the operator “loads” the pump by creating a vacuum so that atmospheric pressure pushes water from suction and discharge basins up into the pump. An impeller pushes that water towards the discharge side. 
    </figcaption>
  </figure>
</article>
<article>
  <figure>
    <img class="vh40"  src="{{ config.CDN_URL }}what-does-pump-do/9a_diagram{{ config.CDN_HASH }}.jpg"/>
    <img class="vh40"  src="{{ config.CDN_URL }}what-does-pump-do/9b{{ config.CDN_HASH }}.jpg"/>
    <figcaption>
    Cross-sectional diagram of the Wood screw pump (left) and the inside of a pump (right). The SWBNO’s first general superintendent, engineer A. Baldwin Wood, invented this pump at the beginning of the twentieth century. It was the first pump powerful enough to truly drain stormwater from the city and also the swamps that surrounded the city, making it possible to dramatically expand the city’s footprint. An analogy for understanding how the pump works: when you drink through a straw, you use your lungs to create a vacuum in the straw. Atmospheric pressure forces liquid up into that straw to take the place of the air that you’ve removed. Same principles, more horsepower. (Image: U.S. Patent Office) 
    </figcaption>
  </figure>
</article>

<article class="blockquote-container">
  <blockquote>
    “You’re drinking water out of a glass using a straw” <br><br>
    <span>— Drainage and Sewerage Superintendent Gerald Tilton</span>
  </blockquote>
</article>
<article>
  <figure>
    <img class="vh30" src="{{ config.CDN_URL }}what-does-pump-do/7a{{ config.CDN_HASH }}.jpg"/>
    <img class="vh30" src="{{ config.CDN_URL }}what-does-pump-do/7b{{ config.CDN_HASH }}.jpg"/>
    <img class="vh50" src="{{ config.CDN_URL }}what-does-pump-do/7c{{ config.CDN_HASH }}.jpg"/>
    <figcaption>
    <b>Discharge basin at DPS 1.</b> The pumps lift water and send it out of discharge pipes and into a canal or body of water outside of the city’s levee protection system. In this case, water from DPS 1 flows into the Palmetto Canal and from there towards DPS 6 at the Jefferson/Orleans parish line. DPS 6 lifts the water again, so that it can flow by gravity out to Lake Pontchartrain via the 17th St. Canal.
    </figcaption>
  </figure>
</article>
<article class="blockquote-container">
  <blockquote>
    “It’s all about connecting the dots.”<br><br>
    <span>— Relief Operator Larry Boudreaux</span>
  </blockquote>
</article>
<article>
  <figure>
    <img class="vh40" src="{{ config.CDN_URL }}what-does-pump-do/8a{{ config.CDN_HASH }}.jpg"/>
    <img class="vh40" src="{{ config.CDN_URL }}what-does-pump-do/8c{{ config.CDN_HASH }}.jpg"/>
    <figcaption>
    After the rain stops, water levels in the suction and discharge basins recede due to pumping as well as slower processes like evaporation and soils absorbing water. When it is not raining, pump station operators turn on constant duty pumps to keep water levels low by removing groundwater that is flowing constantly through our soils. This ensures that there is space in the suction basin and canals for water the next time it rains. 
    <br><br>
    Keeping the water levels low, however, contributes directly to subsidence (the sinking of the ground) throughout New Orleans, and especially in already low-lying areas. That is, the constant removal of water means that the water table (groundwater elevation) is lower than it would naturally be, which causes our soils -- like a sponge squeezed dry -- to contract. 
    </figcaption>
  </figure>
</article>
{% endblock %}