<h1>{{title}}</h1>
<article>
  <figure>
    <img src="https://cdn.mxd.media/day-after-storm/1b.jpg"/>
    <figcaption>Electrical subcontractors run a test to determine the state of the insulation for a motor generator, as part of a slate of testing prescribed after the flooding events of August 2017. </figcaption>
  </figure>
</article>
<article>
  <figure>
    <img src="https://cdn.mxd.media/day-after-storm/1a.jpg"/>
    <figcaption>Utility Plant Worker D’juan Boudreaux moves hose through DPS 1. During the previous day’s rainstorm, there had been light flooding in the station caused by water seeping into the station from the discharge basin.  </figcaption>
  </figure>
</article>
<article>
  <blockquote>
    “Every rain event, you’re going to have some upheavals, some hiccups.” <br><br>-- Gerald Tilton
  </blockquote>
</article>
<article>
  <figure>
    <img src="https://cdn.mxd.media/day-after-storm/2a.jpg"/>
    <img src="https://cdn.mxd.media/day-after-storm/2b.jpg"/>
    <img src="https://cdn.mxd.media/day-after-storm/2c.jpg"/>
    <figcaption>
      Why did water flow back into the station, and where? And why did one of the pumps “lose prime” during the storm? That is, why did one of the pumps lose the vacuum essential to the drawing of water from the suction basin up into the pump?A supervisory team is at the station doing post-operational testing and analysis to answer these questions. This includes checking digital data collected during the storm, reviewing building plans and systems diagrams, and running actual tests on a pump to recreate conditions from the day before. 
    </figcaption>
  </figure>
</article>
<article>
  <figure>
    <img src="https://cdn.mxd.media/day-after-storm/3b.jpg"/>
    <img src="https://cdn.mxd.media/day-after-storm/3c.jpg"/>
    <figcaption>
      Supervisor Conard James is at the controls (left), working closely with the rest of the team to recreate conditions from the previous day. With Operator Renaldo Green up on the catwalk above the pump (right), the team is trying to identify what may have caused the pump to lose prime as the storm was winding down.    
    </figcaption>
  </figure>
</article>

<article>
  <figure>
    <img src="https://cdn.mxd.media/day-after-storm/3d.jpg"/>
    <figcaption>
      Above, Utility Plant Worker D’juan Boudreaux and Supervisor Conard James make adjustments on a vacuum pump. This kind of work is vital for ensuring that pumps and all associated machinery are ready for the next rainfall. Below, Drainage Supervisor Gerald Tilton talks D’juan through the testing process. This is one of the ways in which knowledge is passed from generation to generation, event by event.
    </figcaption>
  </figure>
</article>
<article>
  <figure>
    <img src="https://cdn.mxd.media/day-after-storm/3e.jpg"/>
    <blockquote>
      “Everything is based on getting better and doing better.” <br><br>-- Gerald Tilton
    </blockquote>
  </figure>
</article>