<h1>{{title}}</h1>
<article>
  <figure>
    <img src="https://cdn.mxd.media/pump-operators-team/4a.jpg"/>
    <img src="https://cdn.mxd.media/pump-operators-team/3a.jpg"/>
    <figcaption>Dominique Coleman and Louis Johnston at DPS 19. During a typical shift, an Operator and a UPW work together to take care of daily operational routines and to run the pumps when the rain falls. This includes mopping floors and cleaning out refrigerators, checking oil levels and batteries, teaching and learning, cutting grass and clearing debris, as well as reacting to changing weather patterns and making on-the-spot decisions when equipment fails during a storm. 
      <br><br>
    This also means learning to pass time together, sharing stories and jokes, and building the familiarity necessary to interpret each other’s thoughts and needs when you can barely hear through the noise of pumps and generators. It also means finding your own peace when all the required tasks are completed, there is no rain in sight, and there are still six hours on the clock.</figcaption>
  </figure>
</article>
<article>
  <figure>
    <img src="https://cdn.mxd.media/pump-operators-team/4b.jpg"/>
    <blockquote>
      “You often can’t hear one another and so you have to work hand in hand with each other, you know, that’s all.” <br><br> -- Sterling Young
    </blockquote>
  </figure>
</article>

<article>
  <figure>
    <img src="https://cdn.mxd.media/pump-operators-team/1a.jpg"/>
    <figcaption>The control room at DPS 1. This is the only space with air conditioning.</figcaption>
  </figure>
</article>

<article>
  <figure>
    <img src="https://cdn.mxd.media/pump-operators-team/2a.jpg"/>
    <img src="https://cdn.mxd.media/pump-operators-team/2b.jpg"/>
    <figcaption>Knowledge transfer occurs through an official seven-phase training program, through which an entry level “utility plant worker” can move up to “pump station operator.” Equally critical are daily interactions between operators and utility plant workers, and the interactions between operators and supervisors before, during, and after each storm.</figcaption>
  </figure>
</article>

<article>
  <figure>
    <img src="https://cdn.mxd.media/pump-operators-team/3b.jpg"/>
    <figcaption>
      Supervisor Gerald Tilton (foreground) talks to Utility Plant Worker D’Juan Boudreaux through the post-storm testing of a pump at DPS 1. The supervisors are constantly teaching, helping operators reference historical knowledge and broad data sets, connect something observed at one station to what’s happening at other stations, and learn broader principles and practices.
    </figcaption>
  </figure>
  <blockquote>
    “You’re never going to take the human factor out, nor would you want to.” <br><br> -- Gerald Tilton   
  </blockquote>
</article>

<article>
  <figure>
    <img src="https://cdn.mxd.media/pump-operators-team/4a.jpg"/>
    <img src="https://cdn.mxd.media/pump-operators-team/4b.jpg"/>
    <figcaption>Dominique Coleman (left) and Sterling Young (right) are pump station operators. Both have been with the SWBNO for over twenty years. These operators are at the controls in each of the city’s pump stations, making decisions about which pumps to turn on and off, and communicating with other pump stations and “Central” so that their station is working in concert with all of the other parts of the drainage network.</figcaption>
  </figure>
</article>

<article>
  <figure>
    <img src="https://cdn.mxd.media/pump-operators-team/3c.jpg"/>
    <figcaption>Supervisor Conard “CJ” James and Pump Station Operator Renaldo Green are in the control room at DPS 1, also working on testing a pump at DPS 1 after a storm. CJ, foreground, is part of the “kickstart” generation that had to learn how to turn on most of the machinery in a station manually. The younger operators are now part of the “push button” generation, with digital controls making it easier to operate machinery from the control room.</figcaption>
  </figure>
</article>

<article>
  <figure>
    <img src="https://cdn.mxd.media/pump-operators-team/1b.jpg"/>
    <figcaption>Pump Station Operator Sterling Young, in the middle, is flanked by colleagues and supervisors. 
    </figcaption>
  </figure>
</article>