{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Artists{% endblock %}</h1>
{% endblock %}

{% block content %}
     <h2>Christine “CFreedom” Brown</h2>
    <p>Christine “CFreedom” Brown is a New Orleans visual and performing artist on a mission of bringing back positive images, music, and happenings to the Black community. Connected to photography in 2007 by Carol Bebelle, Douglas Redd, and Ashe Cultural Arts Center, CFreedom became a freelance contributor to Essence Magazine in 2009. Soon after, she founded The Essence of N.O.W., a photography party that celebrates, features, and archives New Orleans women. Visit cfreedomphotography.com/ and @cfreedomphotography to learn more.</p>
    <h2>Maggie Hermann</h2>
    <p>Maggie Hermann is an audio/visual documentarian and evaluator, committed to amplifying the truths and narratives of human relationships to the social and physical environments. She listens, learns, and contributes to actionable change by capturing the rich details of the individual and collective human experience with camera, microphone, and pen.</p>
    <h2>Viewing and Purchasing Artwork</h2>
    <p>
      The artwork featured in this issue of Mixed Media is viewable from December 2019 to March 2020 at the Blue House (9 a.m. to 5 p.m., Monday-Friday, at 1700 S. Rampart, New Orleans). 
    </p>
    <p>
      The artwork is also available for purchase. 60% of proceeds go directly to the artists, and the remaining 40% will go towards the costs of the exhibit and towards the Water Leaders Institute.
    </p>
    <p>
    Please contact aron@thebluehousenola.com for pricing information and details.
    </p>
{% endblock %}