<!doctype html>
<head>
  {% block head %}
      <title>{% block title %}{% endblock %} - Issue #2 | Mixed Media </title>
      {% include "includes/components/head-tag.html" %}
  {% endblock %}
</head>
<body>
  {% include 'includes/components/nav.html' %}
  <div id="app">
    <div class="essay-wrapper">
      {% if title == "pump-station-operators-individual" %}
        
        {% include 'includes/essays/pump-station-operators-individual.html' %}

      {% elif title == 'pump-station-operators-team' %}

        {% include 'includes/essays/pump-station-operators-team.html' %}

      {% elif title == 'what-does-a-pump-station-do' %}

        {% include 'includes/essays/what-does-a-pump-station-do.html' %}

      {% elif title == 'keeping-the-pumps-running' %}

        {% include 'includes/essays/keeping-the-pumps-running.html' %}

      {% elif title == 'day-after-a-storm' %}

        {% include 'includes/essays/day-after-a-story.html' %}

      {% elif title == 'evening-at-station-d' %}

        {% include 'includes/essays/evening-at-station-d.html' %}

      {% elif title == 'challenges' %}

        {% include 'includes/essays/challenges.html' %}

      {% elif title == 'water-creatures' %}

        {% include 'includes/essays/water-creatures.html' %}

      {% else %}

        {% include 'includes/essays/need-an-essay.html' %}

      {% endif %}

      {% include "includes/components/bottom-sheet.html" with context %}
    </div>
  </div>
</body>