<!doctype html>
<head>
  {% block head %}
      <title>{% block title %}{% endblock %} - Issue #2 | Mixed Media </title>
      <link rel="stylesheet" href="https://cdn.mxd.media/stylesheet.css">
  {% endblock %}
</head>
<body>
  {% include "nav.html" %}
  <div id="app">
    <h1>Photo Essays</h1>
    <div class="home-wrapper">
      {% for rows in home_page %}
        <div class="home-row">
          <div class="row">
            {% for item in rows.row %}
              <a 
                href="{{ item.link }}" 
                class="series-titles" 
                style="background-image:url({{item.background_image}});flex:{{item.flex_val}}"
              >
                <h1>{{item.title}}</h1>
                <p>{{item.description}}</p>
              </a>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</body>