{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Project & Our Narrative{% endblock %}</h1>
{% endblock %}

{% block content %}
	<p>
		New Orleans has experienced significant flooding due to rainfall over the last few years (and throughout the city’s history), and the city’s drainage pump stations have been at the center of public debate. Are they working? What does it mean when they’re not working? What does it mean when the pumps are turned on? 
	</p>
	<p>
		To find answers to these questions, we requested permission from the Sewerage & Water Board of New Orleans to visit pump stations around the city. We asked pump station operators to help us understand their work, the machinery they operate, and what it takes to drain water from this city. In this special feature, we use photographs by CFreedom and Maggie Hermann, and the words and stories of pump station operators, to share what we’ve learned. 
	</p>
	<p>
		This is a project of the Blue House Civic Studio, and is part of MIXED MEDIA, a multi-disciplinary initiative that uses storytelling, dialogue, and art to create new pathways for viewers to engage critical civic issues.  
	</p>
{% endblock %}