<article>
          <blockquote>
            “There’s a pervasive attitude that it’s a bunch of idiots that run these pump stations. And that’s certainly far from the truth.” <br><br>-- General Superintendent Bob Turner
          </blockquote>
        </article>
        <article>
          <figure>
            <img src="https://cdn.mxd.media/pump-operators-individual/1a.jpg"/>
            <figcaption>Bob Turner is the General Superintendent of the Sewerage & Water Board. He not only oversees the drainage network, but also the city’s sewerage and drinking water systems. He joined SWBNO in January 2019 as the agency was working to regain public trust after the flooding events of 2017 and 2018.</figcaption>
          </figure>
        </article>
        <article>
          <figure>
            <img src="https://cdn.mxd.media/pump-operators-individual/1b.jpg"/>
            <figcaption>Gerald Tilton is the Drainage Supervisor. He left college at 24 to join the SWBNO. He had planned to stay at SWBNO for just a little while before going back to school, but came to appreciate the significance of what he was doing. Looking at logs from early in the 20th century, he relished thinking about the fact that people have been standing in the same spot he was standing doing the same things for over a century.</figcaption>
          </figure>
        </article>

        <article>
          <figure>
            <img src="https://cdn.mxd.media/pump-operators-individual/2a.jpg"/>
            <img src="https://cdn.mxd.media/pump-operators-individual/2c.jpg"/>
            <figcaption>Conard “CJ” James (left) is also a 30+ year veteran of the SWBNO. Clothes always impeccably pressed, he came out of retirement a few years back to help train staff. Kenneth McGuire Sr. (right) is one of the supervisor assistants.</figcaption>
          </figure>
        </article>

        <article>
          <figure>
            <img src="https://cdn.mxd.media/pump-operators-individual/3a.jpg"/>
            <img src="https://cdn.mxd.media/pump-operators-individual/3b.jpg"/>
            <figcaption>Larry Boudreaux (left) and Lionel “Jupe” Jupiter (right) are both relief operators This means both men have the knowledge and skills to operate multiple pump stations, each with its particularities and different eras of machinery. Lionel left a job as a sales manager in telecommunications to join the SWBNO six years ago, while Larry is 31 years on the job. He loves the work of training younger staff, making sure they understand the ins and outs of the machinery they operate.</figcaption>
          </figure>
        </article>

        <article>
          <blockquote>
            “I will never forget when I first made operator. I had nightmares about flooding. [...] You have to take the job seriously. It’s people’s jobs, lives.” <br><br>-- Larry Boudreaux
          </blockquote>
        </article>

        <article>
          <figure>
            <img src="https://cdn.mxd.media/pump-operators-individual/4a.jpg"/>
            <img src="https://cdn.mxd.media/pump-operators-individual/4b.jpg"/>
            <figcaption>Dominique Coleman (left) and Sterling Young (right) are pump station operators. Both have been with the SWBNO for over twenty years. These operators are at the controls in each of the city’s pump stations, making decisions about which pumps to turn on and off, and communicating with other pump stations and “Central” so that their station is working in concert with all of the other parts of the drainage network.</figcaption>
          </figure>
        </article>

        <article>
          <figure>
            <img src="https://cdn.mxd.media/pump-operators-individual/5c.jpg"/>
            <img src="https://cdn.mxd.media/pump-operators-individual/5d.jpg"/>
            <figcaption>Louis Johnston (left) works with Dominique Coleman at DPS 19 as a utility plant worker, known also as a “UPW” or a “helper.” Jonathan Foster (right) is a UPW at Drainage Pump Station 1, and a trumpet player. Both are nearing the end of the seven phase training program that allows a UPW to become a pump station operator. Jonathan sees his work at the SWBNO as a way to pave the way for his kid to work a city job in the future.</figcaption>
          </figure>
        </article>

        <article>
          <blockquote>
            “I’m leaving a legacy for my child” <br><br>-- Jonathan Foster
          </blockquote>
        </article>

        <article>
          <figure>
            <img src="https://cdn.mxd.media/pump-operators-individual/5a.jpg"/>
            <img src="https://cdn.mxd.media/pump-operators-individual/5b.jpg"/>
            <figcaption>D’juan Boudreaux (left) and Robert Barrow (right) are also UPWs. D’juan is also coming up on three years at the SWBNO, and is itching to become a pump station operator as he nears the last phase of training. Rob’s goal is to become a great pump station operator, and to become a leader amongst his peers, showing them what’s possible in a city where he sees so many young people doing things out of fear, because of peer pressure, and often with their “backs against the wall.”</figcaption>
          </figure>
        </article>

        <article>
          <blockquote>
            “I’m trying to change the generation I’m in.” <br><br>-- Robert Barrow
          </blockquote>
        </article>