<article>
  <figure>
    <img src="https://cdn.mxd.media/what-does-pump-do/1a.jpg"/>
    <img src="https://cdn.mxd.media/what-does-pump-do/1b.jpg"/>
    <figcaption>DPS 1 sits at the intersection of Broad and Martin Luther King Jr., at a low point that was once the back edge of the city. Thousands of motorists, and cyclists too, pass by each day. Those heading downtown are on the “suction” side of the pump station, while those heading uptown are on the “discharge” side of the station.</figcaption>
  </figure>
</article>
<article>
  <figure>
    <img src="https://cdn.mxd.media/what-does-pump-do/2a.jpg"/>
    <figcaption>When rain hits asphalt streets, concrete parking lots, and rooftops, water accumulates rapidly and flows via storm drains and a network of pipes to large drainage culverts. These underground canals, some of which are 20’ across, carry water downhill towards the city’s drainage pumps stations.</figcaption>
  </figure>
</article>
<article>
  <blockquote>
    “There is no accounting for when the rain is going to fall”<br><br>-- Gerald Tilton
  </blockquote>
</article>


<article>
  <figure>
    <img src="https://cdn.mxd.media/what-does-pump-do/3a.jpg"/>
    <figcaption>
      A view of DPS 4 from above, with the suction side towards the bottom, and the discharge side towards the top.
      <br><br>
      Central Command notifies pump station operators when they need to go on “rain load.” This means setting up power generation systems in preparation for turning on pumps to manage the water that is headed their way.  
    </figcaption>
  </figure>
</article>

<article>
  <figure>
    <img src="https://cdn.mxd.media/what-does-pump-do/3b.jpg"/>
    <img src="https://cdn.mxd.media/what-does-pump-do/3c.jpg"/>
    <figcaption>The suction basins at DPS 4 (left) and DPS 1 (right). Visible at DPS 4 is the end of the culvert that brings water from Gentilly neighborhoods to the pump station. At DPS 1, a hatch door and ladder provide access to the suction basin, which is otherwise covered and hidden from view. As water levels in the suction basin rise, SWB operators turn on the pumps to lower the water level in the basin.</figcaption>
  </figure>
</article>

<article>
  <blockquote>
    “We can’t pump what we don’t get.” <br><br>-- Larry Boudreaux
  </blockquote>
</article>

<article>
  <figure>
    <img src="https://cdn.mxd.media/what-does-pump-do/4a.jpg"/>
    <img src="https://cdn.mxd.media/what-does-pump-do/4b.jpg"/>
    <figcaption>Mechanical and digital monitoring systems inside of DPS 1 help the operators keep track of elevations in the suction basin. When certain suction basin elevations are reached, pump stations operators choose which pumps to turn on, and for how long, in order to draw the water down to a desired level.</figcaption>
  </figure>
</article>

<article>
  <blockquote>
    “You have to react to it step by step”<br><br>-- Bob Turner
  </blockquote>
</article>

<article>
  <figure>
    <img src="https://cdn.mxd.media/what-does-pump-do/6a.jpg"/>
    <figcaption>The pump array at DPS 1. A pump station operator activates a pump by creating a vacuum within the pump so that atmospheric pressure pushes water from suction and discharge basins up into the pump. An impeller pushes that water in the right direction and towards the discharge side. 
      <br><br>
    The SWBNO analogy: when you drink through a straw, you use your lungs to create a vacuum in the straw. Atmospheric pressure forces liquid up into that straw to take the place of the air that you’ve removed. Same principles, more horsepower.  
    </figcaption>
  </figure>
</article>

<article>
  <figure>
    <img src="https://cdn.mxd.media/what-does-pump-do/6b.jpg"/>
    <figcaption>
      Motor for a pump, spinning.
      <br><br>
      What does a pump station do? Fundamentally, the pumps inside of the station lift water up and out of the suction basin, and releases the water into a discharge basin at a higher level. From there, that water can flow by gravity to the next pump station or out of the city into Lake Pontchartrain, the Industrial Canal, Bayou Bienvenue, or the Gulf Intracoastal Waterway.
    </figcaption>
  </figure>
</article>

<article>
  <blockquote>
    “You’re drinking water out of a glass using a straw” <br><br>-- Gerald Tilton
  </blockquote>
</article>

<article>
  <img src="https://cdn.mxd.media/what-does-pump-do/7a.jpg"/>
  <img src="https://cdn.mxd.media/what-does-pump-do/7b.jpg"/>
  <img src="https://cdn.mxd.media/what-does-pump-do/7c.jpg"/>
  <figcaption>
    Discharge basin at DPS 1. The pumps lift water and send it out of discharge pipes and into a canal or body of water outside of the city’s levee protection system. In this case, water from DPS 1 flows into the Palmetto Canal and from there towards DPS 6 at the Metairie/Orleans parish line. That pump station lifts the water again, so that it can flow by gravity out to Lake Pontchartrain via the 17th St. Canal.
  </figcaption>
</article>

<article>
  <blockquote>
    “It’s all about connecting the dots.”<br><br>-- Larry Boudreaux
  </blockquote>
</article>


<article>
  <img src="https://cdn.mxd.media/what-does-pump-do/8a.jpg"/>
  <img src="https://cdn.mxd.media/what-does-pump-do/8c.ARW"/>
  <figcaption>
    After the rain stops, water levels in both the suction and discharge basins go back down, due to pumping as well as processes like evaporation and water infiltration (water soaking into the ground). Even when it is not raining, pump station operators will turn on “constant duty” pumps to keep water levels low, to remove the groundwater that is flowing constantly through our soils. This ensures that there is space in the suction basin and canals for water the next time it rains. 

    Keeping the water levels low, however, contributes directly to subsidence (the sinking of the ground) throughout the city, and especially in already low-lying areas. That is, the constant removal of water means that the water table is lower than it would naturally be, which causes our soils -- like a sponge that’s been squeezed dry -- to contract. 
  </figcaption>
</article>