<div id="bottom-sheet">
	<div class="art-gallery-nav-container">
		<div class="art-gallery-nav" v-bind:class="{ 'bottom-sheet-open' : bottomSheetOpen === true }">
			<div class="bottom-sheet-row-1">
				<div class="art-gallery-nav-title-container" v-on:click="bottomSheetOpen = !bottomSheetOpen">
					<h4>{{title}}</h4>
				</div>
			</div>
			<div class="bottom-sheet-row-2">
				<div class="art-gallery-nav-description-container" v-show="bottomSheetOpen">
					<p>
						Who are the people that run the city’s drainage pump stations, twenty four hours a day? We spoke with operators at four different stations, and got to know them as individuals. As proud parents and trumpet players, power lifters and auto mechanics, and as philosophers and Uber drivers -- they are each striving to make a living and to provide for their families. As Utility Plant Worker Rob Barrow put it, working at the Sewerage and Water Board is also “a chance to help the city.”
					</p>
					<p>
						A few common threads emerged.
					</p>
					<p>
						The first is that the SWBNO provides good job opportunities in a city where so many residents otherwise only have access to low-paying service and tourism jobs. Relief Operator Larry Boudreaux shares: “If you’re a convicted felon and you have a high school diploma, you can still get a job [...] and you can make 40K, 60K, 80K, 100K. Where else can you do that?”
					</p>
					<p>
						The second is that the operators see themselves as emergency personnel, their work vital to the safety of their fellow New Orleanians. Of the many sacrifices that operators make, the most significant is that each is asked to leave their families to report to work when tropical storms bear down on the region. As Utility Plant Worker Louis Johnston shares, “Family have to be responsible over there, when I have to be here.”
					</p>
				</div>
				<div class="art-gallery-nav-bottom-sheet-options-container" v-show="bottomSheetOpen">
					<table>
						<tr>
							<td>🔗</td>
							<td>Share Link</td>
						</tr>
						<tr>
							<td>F</td>
							<td>Facebook</td>
						</tr>
						<tr>
							<td>T</td>
							<td>Twitter</td>
						</tr>
						<tr>
							<td>E</td>
							<td>Email the artist</td>
						</tr>
						<tr>
							<td>$</td>
							<td>Bid on artwork</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	if (typeof Vue === 'undefined') {
		var sheetEl = document.getElementById('bottom-sheet');
		sheetEl.remove();
	} else {
		new Vue({
			el: '#bottom-sheet',
			data: {
				bottomSheetOpen: false
			}
		});
	}
</script>