<div id="bottom-sheet">
	<div class="art-gallery-nav-container">
		<div class="art-gallery-nav" v-bind:class="{ 'bottom-sheet-open' : bottomSheetOpen !== true }">
			<div class="bottom-sheet-row-1" v-on:click="bottomSheetOpen = !bottomSheetOpen">
				<div class="art-gallery-nav-title-container">
					<h4>Key Terms and Acronyms</h4>
				</div>
			</div>
			<div class="bottom-sheet-row-2">
				<div class="art-gallery-nav-description-container" v-show="!bottomSheetOpen">
					<h2>
						Sewerage & Water Board New Orleans, SWBNO
					</h2>
					<p>
						The public agency that operates the city’s drainage, drinking water, and sewerage systems. SWBNO is responsible for large pipes, culverts (underground canals), canals, and drainage pump stations. (The Department of Public Works is responsible for catch basins and small pipes.) The drainage system includes 24 drainage pump stations, 120 drainage and constant-duty pumps, and an annual budget of over $50 million. Learn more <a target="_blank" href="https://www.swbno.org/">here</a>.
					</p>
					<h2>
						Pumping Plant Operator, PPO, Pump Station Operator
					</h2>
					<p>
						The person in charge of each individual pump station is a “pumping plant operator.” For this body of work, we refer to PPOs as “pump station operators.” (In our project overview and a few other instances, we refer to everyone we spoke with -- including supervisors, relief operators, PPOs, and UPWs --  collectively as pump station operators.)
					</p>
					<h2>
						Utility Plant Worker, UPW, Helper
					</h2>
					<p>
						A utility plant worker assists the pump station operator (see above) with all aspects of running a pump station. UPWs are sometimes referred to as “helpers.” By taking part in a seven-phase training program, each UPW has the opportunity to become a pump station operator.
					</p>
					<h2>
						Drainage Pump Station (DPS #)
					</h2>
					<p>
						When it rains, water flows into storm drains, and from there into the city’s network of pipes and canals, which brings water into the suction basins of the city’s pump stations. Each pump station is identified by number, e.g., DPS 1 or DPS 6 or DPS 19.
					</p>
					<h2>
						Central Control, Central
					</h2>
					<p>
						Key functions for the entire drainage network are located at the SWBNO’s Carrollton Plant. These include turbines that generate power for pump stations, frequency changers, and dispatch and supervisory functions. Each pump station communicates with “Central” on a daily basis, and continuously during each storm.
					</p>
					<h2>
						Suction, Vacuum, and Discharge
					</h2>
					<p>
						The city’s drainage pumps require operators to create a vacuum between the suction and discharge sides of the pump station, which allows atmospheric pressure to push water from both sides up into the pump. A spinning impeller then pushes that water towards the discharge side of the station. Read more about the Wood screw pump <a target="_blank" href="https://www.wwno.org/post/nola-vs-nature-blessing-and-curse-wood-screw-pump">here</a> and <a target="_blank" href="https://www.atlasobscura.com/articles/new-orleans-wood-screw-pumps-history-power-drainage-flooding-infrastructure">here</a>.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>