<div class="essay-nav-container">
	<h3>More Photo Essays and Galleries</h3>
	<ul>
		<li>
			<a href="/gallery/water-series">Water Series</a>
		</li>
		<li>
			<a href="/essay/what-does-a-pump-station-do">What Does A Pump Station Do?</a>
		</li>
		<li>
			<a href="/essay/pump-station-operators-individual">Pump Station Operators</a>
		</li>
		<li>
			<a href="/essay/pump-station-operators-team">Communications and Teamwork</a>
		</li>

		<li>
			<a href="/essay/watch-morning">Morning at DPS 19</a>
		</li>

		<li>
			<a href="/essay/day-after-a-storm">Day After A Storm</a>
		</li>

		<li>
			<a href="/essay/evening-at-station-d">Evening at Station D</a>
		</li>

		<li>
			<a href="/essay/keeping-the-pumps-running">Keeping the Pumps Running</a>
		</li>
		<li>
			<a href="/essay/challenges">Challenges</a>
		</li>

		<li>
			<a href="/essay/water-creatures">Water Creature</a>
		</li>
		<li>
			<a href="/gallery/behind-the-scenes">Behind the Scenes</a>
		</li>
	</ul>
</div>