<div class="essay-nav-container">
	<h3>More Photo Essays</h3>
	<ul>
		<li>
			<a href="/essay/challenges">Challenges</a>
		</li>
		<li>
			<a href="/essay/day-after-a-storm">Day After A Storm</a>
		</li>
		<li>
			<a href="/essay/keeping-the-pumps-running">Keeping the Pumps Running</a>
		</li>
		<li>
			<a href="/essay/pump-station-operators-individual">Pump Station Operators - Individuals</a>
		</li>
		<li>
			<a href="/essay/pump-station-operators-team">Pump Station Operators - Team</a>
		</li>
		<li>
			<a href="/essay/what-does-a-pump-station-do">What Does A Pump Station Do?</a>
		</li>
		<li>
			<a href="/essay/water-creatures">Water Creatures</a>
		</li>
	</ul>
</div>