<div class="row">
	<section>
		<h2>Moving Water Exhibition</h2>
		<p>
			The photographs and paintings by CFreedom, Maggie Hermann, and Anne Nelson featured in this issue of Mixed Media are viewable from December 2019 to March 2020 at the Blue House (9 a.m. to 5 p.m., weekdays, or by appointment, at 1700 S. Rampart St., New Orleans).
		</p>
		<a href="https://thebluehousenola.com/"><button>Visit the Blue House</button></a>
	</section>
</div>

<div class="row">
	<section>
		<h2>Water Creature</h2>
		<p>
			After two days and nights on Bayou St. John, and an extended stay in Central City, Carole Alden’s Water Creature has found a new home at the Green Project, located at 2831 Marais St., New Orleans.
		</p>
		<button>Vist Water Creature on Bayou St. John</button>
	</section>
</div>


<div class="row">
	<section>
		<h2>Purchase Artwork</h2>
		<p>
			The photographs and paintings by CFreedom, Maggie Hermann, and Anne Nelson are available for purchase. 60% of proceeds go directly to the artists, and the remaining 40% will go towards the costs of the exhibit and towards the Water Leaders Institute, which brings together community leaders, technical experts, and policy makers to build shared knowledge and facilitate inclusive planning practices.
		</p>
		<button>Contact for pricing</button>
	</section>
</div>