<footer>
	<h3>
	Artists		
	</h3>
	<ul>
		<li>
			Carole Alden
		</li>
		<li>
			Christine “CFreedom” Brown
		</li>
		<li>
			Maggie Hermann
		</li>
	</ul>

	<h3>
		Mixed Media Team		
	</h3>
	<ul>
		<li>
			Aron Chang
		</li>
		<li>
			Liam Grealy
		</li>
		<li>
			Maggie Hermann
		</li>
		<li>Bridgette Ortiz</li>
		<li>Eriks Reks</li>
		<li>Alex Stokes</li>
		<li>Lilith Winkler-Schor</li>
	</ul>

	<h3>
		Sewerage & Water Board of New Orleans		
	</h3>

	<p>
		We thank Executive Director Ghassan Korban, Communications Director Richard Rainey, General Superintendent Bob Turner, and Drainage Supervisor Gerald Tilton for providing access to the drainage pump stations and the opportunity to speak with pump station operators. We’re grateful to each of the pump station operators we spoke with and observed in the summer and fall of 2019. They helped us understand how the pumps work, as well as key aspects of their lives as pump station operators.
	</p> 


	<h4>Partners</h4>
	<p>
		The Blue House (https://thebluehousenola.com/)
		Water Leaders Institute (https://www.waterleadersinstitute.com/)
		Central City Renaissance Alliance (https://myccra.org)
		New Orleans Advocate (https://www.nola.com/)
		Platforms Fund (https://platformsfund.org/home/)
		PEN America (https://pen.org/)

		Tulane ByWater Institute (https://bywater.tulane.edu/)
		The Green Project (https://www.thegreenproject.org/)
		Batture LLC (http://www.batture-eng.com/)
		GreenPoint Engineering (http://www.greenpoint-e.com/home.html)
		Asakura Robinson (http://www.asakurarobinson.net/)
		Spackman Mossop Michaels (http://spackmanmossopmichaels.com/)
		Dana Brown & Associates (https://www.danabrownassociates.com/)
		Waggonner & Ball Architecture/Environment (https://wbae.com/)
	</p>
</footer>