<div class="home-final-wrapper">
	<div class="row">
		<article>
			<p>
				<b>MIXED MEDIA</b> is a multidisciplinary initiative by the Blue House / Civic Studio that supports civic dialog on critical issues through art, research, and storytelling. Visit issue1.mxd.media for MIXED MEDIA: INCARCERATION. 
			</p>
			<p>
				<b>The Moving Water Exhibition</b> features photographs and paintings by CFreedom, Maggie Hermann, and Anne Nelson featured in this issue of Mixed Media.  View the work from December 2019 to March 2020 at the Blue House (9 a.m. to 5 p.m., weekdays, or by appointment, at 1700 S. Rampart St., New Orleans). 
			</p>
			<p class="social-links">
				<a href="https://www.facebook.com/thebluehousenola">
					<img src="https://cdn.mxd.media/social/facebook.png">				
				</a>
				<a href="https://www.instagram.com/thebluehousenola/">
					<img src="https://cdn.mxd.media/social/instagram.png">
				</a>	
			</p>
		</article>
	</div>
</div>