<div class="promo-banner">
	<span>
		Special print available in the New Orleans Advocate Sunday 11/22/2019.
	</span>
</div>

<nav class="desktop">
	<a href="/"><img src="https://cdn.mxd.media/partners/mm.png"></a>
	<div class="menu-container">
		<a href="/project">Project</a>
		<a href="/artists">Artists</a>
		<a href="/purchase">Purchase</a>
	</div>
</nav>
<nav class="mobile">
	<img src="https://cdn.mxd.media/partners/mm.png">
	<div>
		<span id="hamburger">
			<span></span>
			<span></span>
			<span></span>
		</span>
		<ul id="menu" class="hidden">
			<li>
				<a href="/project">Project</a>
			</li>
			<li>
				<a href="/artists">Artists</a>
			</li>
			<li>
				<a href="/purchase">Purchase</a>
			</li>
		</ul>
	</div>
</nav>

<script type="text/javascript">
	var hamburger = document.getElementById('hamburger');
	var menu = document.getElementById('menu');
	hamburger.onclick = function(e) {
		menu.classList.toggle('hidden');
		hamburger.classList.toggle('open')
	}
</script>