<nav class="desktop">
	<img src="https://cdn.mxd.media/partners/mm.png">
	<div class="menu-container">
		<a href="/">Project</a>
		<a href="/artists">Artists</a>
		<a href="/exhibit">Exhibit</a>
		<a href="/purchase">Purchase Artwork</a>
		<span> 
			More
			<ul>
				<li><a href="/exhibit">Exhibit</a></li>
				<li><a href="/purchase">Purchase Artwork</a></li>
			</ul>
		</span>
	</div>
</nav>
<nav class="mobile">
	<img src="https://cdn.mxd.media/partners/mm.png">
	<div>
		<span id="hamburger">
			<span></span>
			<span></span>
			<span></span>
		</span>
		<ul id="menu" class="hidden">
			<li>
				<a href="/">Project</a>
			</li>
			<li>
				<a href="/artists">Artists</a>
			</li>
			<li>
				<a href="/exhibit">Exhibit</a>
			</li>
			<li>
				<a href="/purchase">Purchase Artwork</a>
			</li>
		</ul>
	</div>
</nav>