<div class="promo-banner">
	<span>
		“A Visit to the Pump Station” -- special print feature available in the New Orleans Advocate/Times Picayune only on Sunday, December 22, 2019.
	</span>
</div>

<nav class="desktop">
	<a href="/">
		<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 258 134"><defs><style>.cls-1{font-size:33.75px;fill:#231f20;font-family:'brandon-grotesque';font-weight:700;}.cls-2{fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:0.75px;}.cls-3{font-size:14px;fill:#333;font-family:Century;}.cls-4{letter-spacing:-0.07em;}</style></defs><title>Logo_with Water Systems</title><text class="cls-1" transform="translate(76.38 44.42)">MIXED</text><text class="cls-1" transform="translate(75.85 91.73)">MEDIA</text><line class="cls-2" x1="108.9" y1="58.56" x2="149.97" y2="54.24"/><text class="cls-3" transform="translate(80.82 119.36)"><tspan class="cls-4">W</tspan><tspan x="12.69" y="0">ater Systems</tspan></text></svg>
	</a>
	<div class="menu-container">
<!-- 		<a href="/essay">Essays</a>
		<a href="/gallery">Galleries</a> -->
		<a href="/project">Project</a>
		<a href="/people">People</a>
		<a href="/gallery/behind-the-scenes">Process</a>
	</div>
</nav>
<nav class="mobile">
	<a href="/">
		<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 258 134"><defs><style>.cls-1{font-size:33.75px;fill:#231f20;font-family:BrandonGrotesque-Bold, Brandon Grotesque;font-weight:700;}.cls-2{fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:0.75px;}.cls-3{font-size:14px;fill:#333;font-family:Century;}.cls-4{letter-spacing:-0.07em;}</style></defs><title>Logo_with Water Systems</title><text class="cls-1" transform="translate(76.38 44.42)">MIXED</text><text class="cls-1" transform="translate(75.85 91.73)">MEDIA</text><line class="cls-2" x1="108.9" y1="58.56" x2="149.97" y2="54.24"/><text class="cls-3" transform="translate(80.82 119.36)"><tspan class="cls-4">W</tspan><tspan x="12.69" y="0">ater Systems</tspan></text></svg>
	</a>
	<div>
		<span id="hamburger">
			<span></span>
			<span></span>
			<span></span>
		</span>
		<ul id="menu" class="hidden">
<!-- 			<li>
				<a href="/essay">Essays</a>
			</li>
			<li>
				<a href="/gallery">Galleries</a>
			</li>
 -->			<li>
				<a href="/project">Project</a>
			</li>
			<li>
				<a href="/people">People</a>
			</li>
			<li>
				<a href="/gallery/behind-the-scenes">Process</a>
			</li>
		</ul>
	</div>
</nav>

<script type="text/javascript">
	var hamburger = document.getElementById('hamburger');
	var menu = document.getElementById('menu');
	hamburger.onclick = function(e) {
		menu.classList.toggle('hidden');
		hamburger.classList.toggle('open')
	}
</script>